@if (loading) {
<ui-loading-progress-bar></ui-loading-progress-bar>
}
@else {
@if(this.permisosProveedor.LISTAR){
@if (listProveedor().length > 0) {
<p-table #dtProveedor [value]="listProveedor()" size="small"
    [globalFilterFields]="['nombre', 'ruc', 'direccion', 'tipo', 'evaluacion', 'accion']" selectionMode="single"
    dataKey="id" [tableStyle]="{ 'min-width': '50rem' }" [rows]="20" [paginator]="true"
    [rowsPerPageOptions]="[20,100,1000]"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros">

    <ng-template #caption>
        <div class="flex justify-between gap-4">
            <p-iconfield iconPosition="left" class="w-full">
                <p-inputicon>
                    <i class="pi pi-search"></i>
                </p-inputicon>
                <input class="w-full" pInputText type="text" placeholder="Buscar Proveedor"
                    (input)="dtProveedor.filterGlobal($any($event.target).value, 'contains')" />
            </p-iconfield>
            @if (permisoProveedor.INSERTAR) {
            <ui-button (click)="seleccionarProveedor(proveedorDefault); visibleAdd = true" label="AGREGAR"></ui-button>
            }
        </div>
    </ng-template>

    <ng-template #header>
        <tr>
            <th pSortableColumn="nombre" style="width:15%">NOMBRE<p-sortIcon field="name" /></th>
            <th pSortableColumn="area" style="width:10%"> RUC <p-sortIcon field="area" /></th>
            <th pSortableColumn="usuario" style="width:25%"> DIRECCIÓN <p-sortIcon field="usuario" /></th>
            <th pSortableColumn="categoria" style="width:10%">TIPO<p-sortIcon field="categoria" /></th>
            <th pSortableColumn="evaluacion" style="width:10%">EVALUACIÓN<p-sortIcon field="evaluacion" /></th>
            <th pSortableColumn="accion" style="width:10%">ACCIONES<p-sortIcon field="accion" /></th>
        </tr>
    </ng-template>

    <ng-template #body let-proveedor>
        <!-- {{proveedor.id | json}} -->
        <tr [pSelectableRow]="proveedor">
            <td>
                <span class="ml-1 align-middle">{{ proveedor.nombre }}</span>
            </td>
            <td>
                <div class="flex items-center gap-2">
                    <span class="ml-1 align-middle">{{ proveedor.ruc }}</span>
                </div>
            </td>
            <td>
                <div class="flex items-center gap-2">
                    <span class="ml-1 align-middle">{{ proveedor.direccion }}</span>
                </div>
            </td>
            <td>
                <div class="flex items-center gap-2">
                    <span class="ml-1 align-middle">{{ proveedor.tipo }}</span>
                </div>
            </td>

            <td>
                <div class="flex items-center gap-2">

                    <p-tag [value]="proveedor.evaluacion" [severity]="getColorEvaluacion(proveedor.evaluacion)">
                    </p-tag>

                </div>
            </td>
            <td>
                <div class="flex items-center gap-2">
                    @if (this.permisoProveedor.ACTUALIZAR) {
                    <ui-icon-button (click)="visibleAdd = true; seleccionarProveedor(proveedor)" icon="pi pi-pencil"
                        tooltip="Editar"></ui-icon-button>

                    }
                    @if (permisoProveedor.ELIMINAR) {
                    <ui-icon-button (click)="eliminarConfirm(proveedor)" icon="pi pi-trash" color="danger"
                        tooltip="Eliminar"></ui-icon-button>
                    }
                    <ui-icon-button (click)="visibleFichaEvaluacion = true; seleccionarProveedor(proveedor)"
                        icon="pi pi-file-edit" color="info" tooltip="Evaluacion"></ui-icon-button>

                    <ui-icon-button (click)="visibleContacto = true; seleccionarProveedor(proveedor)" icon="pi pi-phone"
                        color="help" tooltip="Contactos"></ui-icon-button>

                    <ui-icon-button (click)="seleccionarProveedor(proveedor); visibleBancos = true"
                        icon="pi pi-credit-card" color="contrast" tooltip="Bancos"></ui-icon-button>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>
}
@else {
<app-import-proveedores></app-import-proveedores>
}

@if (visibleAdd) {
<app-add-edit-proveedor [permisos]="permisoProveedor" [(visible)]="visibleAdd"></app-add-edit-proveedor>>
}
@if (visibleCriterios) {
<app-list-criterios [(visible)]="visibleCriterios"></app-list-criterios>
}
@if (visibleContacto) {
<app-list-contacto [(visible)]="visibleContacto"></app-list-contacto>
}
@if (visibleBancos) {
<app-list-bancos [(visible)]="visibleBancos"></app-list-bancos>
}
@if (visibleFichaEvaluacion) {
<!-- <app-ficha-evaluacion [(visible)]="visibleFichaEvaluacion"></app-ficha-evaluacion> -->
<app-evaluacion-sunat [(visible)]="visibleFichaEvaluacion"></app-evaluacion-sunat>
}

}@else {
<ui-card-not-items text=" 'Usted no tiene acceso a leer los proveedores' "></ui-card-not-items>
}

}