@if (!loading) {
@if(listarDocente().length == 0){
  
<div
    class="flex gap-2 border-round border-1 border-dashed bg-gray-100 w-full h-15rem justify-content-center align-items-center border-gray-400 hover:bg-blue-50 hover:border-blue-500 hover:text-blue-500">
    <h5 class="text-center absolute mt-8 pt-4 f-14 font-italic">No hay docentes registrados, por favor click en l botón
        para importar sus docentes</h5>
    <span class="boton-parpadeante bg-blue-500 h-3rem w-10rem border-round absolute"></span>
    <ui-button color="blue" icon="ti ti-save f-16">Registrar
        Docentes</ui-button>
</div>
}
@else {
  
  <div class="flex pt-2 gap-4">
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Docente</mat-label>
      <mat-select panelClass="custom-select-panel" (selectionChange)="onDocenteSelected($event.value)">
        <mat-option *ngFor="let docente of listarDocente()" [value]="docente.idDocente">
          <p class="m-0">{{ docente.nombreApellido }}</p>
        </mat-option>
      </mat-select>
    </mat-form-field>
    
    <div>
      <ui-button color="primary" icon="ti ti-plus f-16" (onClick)="modalAddDocente(addDocente)"></ui-button>
    </div>
  </div>
  <!-- <pre> {{ listarDocente() | json }} </pre> -->
  
  @if (seleccionarDocente().idDocente !== 0) {
    <app-mostrar-datos-docente></app-mostrar-datos-docente>
  }
  
}
}
@else {
<ui-loading-progress-bar></ui-loading-progress-bar>
}

<ng-template #addDocente>
    <app-docente-add></app-docente-add>
</ng-template>