<app-card [showHeader]="false" [padding]="12" cardClass="mb-2" cardContentClass="flex" headerClassTemplate="title align-item-center">

    @if ( modoTablet() ) {
      <ui-button color="secondary" tooltip="Volver" (onClick)="onBackToMail()">
        <i class="ti ti-chevron-left f-18"></i>
      </ui-button>
      <!-- <a  class="avatar avatar-s text-accent-900" matTooltip="left side" id="mail-backinbox">
        
      </a> -->
    }
    <!-- {{ mensaje.asunto }} -->
  
    <ui-button idButton="asunto" color="secondary" class="text-xs sm:text-sm" classButton="px-0 sm:px-3" (onClick)="openModalCard( )">
      {{mensajesHistorial()[0]?.asunto}}
    </ui-button>
    <!-- <button (click)="clickAsunto()">sa</button> -->

</app-card>

<ng-template #templateCard let-data>
  <!-- <pre>{{ listaDestinatariosResponderA() | json }}</pre> -->
  @switch ( tipoCard ) {
    @case ('ALTA') {

      @if (tipoCard === 'ALTA') {
        <mat-dialog-content>
          <programa-card [programa]="programaForAlta.programas[0]" [asignacion]="programaForAlta"></programa-card>
          <!-- <p>asdasd</p> -->
          @if ( showButtons && tipoBandeja() == 'Recibidos' ) {
            <p class="mx-auto my-2 w-15rem text-center f-w-500">¿Está seguro que desea dar de Alta al Director de Escuela?</p>
            <div class="border-1 border-round p-2" [ngClass]="{ 'bg-green-100 text-green-700': esConforme, 'bg-orange-100 text-orange-700': !esConforme}">
              <mat-checkbox [(ngModel)]="esConforme" (change)="onChecked( $event )" class="example-margin "><span class="f-w-600" [ngClass]="{ 'text-green-700': esConforme, 'text-orange-700': !esConforme }">Si, La información correcta</span></mat-checkbox>
            </div>
          }
              
        </mat-dialog-content>
        @if ( showButtons && tipoBandeja() == 'Recibidos' ) {
          <mat-dialog-actions align="end" class="flex gap-2">
            <!-- <ui-button color="secondary" label="Cancelar" mat-dialog-close="cancelar"></ui-button> -->
            <!-- <ui-button color="orange" label="Enviar Observación" [disabled]="showFormResponse() || esConforme" (onClick)="onResponder()"></ui-button>
            <ui-button color="primary" label="Dar Alta" [disabled]="showFormResponse() || !esConforme" (onClick)="onAltaConfirm( mensajeHistorialSelect )"></ui-button> -->
            <mensajeria-flujo-navegacion [allDestinatario]="listaDestinatariosResponderA()" ></mensajeria-flujo-navegacion>

          </mat-dialog-actions>
        }
        
      }

    }

     @case ( 'VALIDAR' ) {
      <mat-dialog-content>
        <plan-estudio-card [planEstudio]="planEstudio"></plan-estudio-card>
        @if ( tipoBandeja() == 'Recibidos' && listaDestinatariosResponderA()[0].cierraProceso ) {
          <p class="mx-auto my-2 w-15rem text-center f-w-500">¿Está seguro que desea Aprobar el la Validación del Plan de Estudios?</p>
          <div class="border-1 border-round p-2" [ngClass]="{ 'bg-green-100 text-green-700': esConforme, 'bg-orange-100 text-orange-700': !esConforme}">
            <mat-checkbox [(ngModel)]="esConforme" (change)="onChecked( $event )" class="example-margin "><span class="f-w-600" [ngClass]="{ 'text-green-700': esConforme, 'text-orange-700': !esConforme }">Si, La información correcta</span></mat-checkbox>
          </div>
        }
      </mat-dialog-content>
      <mat-dialog-actions align="end" class="flex gap-2">
        @if( tipoBandeja() == 'Recibidos' ) {
          
          <mensajeria-flujo-navegacion [allDestinatario]="listaDestinatariosResponderA()" ></mensajeria-flujo-navegacion>

        }
      </mat-dialog-actions>
     }

     @case ( 'CAMBIAR' ) {
      <mat-dialog-content>
        @if ( !checkInfoSuccess() ) {
          
          <plan-estudio-card [planEstudio]="planEstudio"></plan-estudio-card>

        }
        @if ( tipoBandeja() == 'Recibidos' && listaDestinatariosResponderA()[0].cierraProceso ) {
          <p class="mx-auto my-2 w-15rem text-center f-w-500">¿Está seguro que desea Aprobar la Validación del Plan de Estudios? {{ esConforme }}</p>
          
          <div class="border-1 border-round p-2 my-2" [ngClass]="{ 'bg-green-100 text-green-700': esConforme, 'bg-orange-100 text-orange-700': !esConforme}">
            <mat-checkbox [(ngModel)]="esConforme" (change)="onChecked( $event )" class="example-margin "><span class="f-w-600" [ngClass]="{ 'text-green-700': esConforme, 'text-orange-700': !esConforme }">Si, La información correcta</span></mat-checkbox>
          </div>
        }
        @if ( checkInfoSuccess() ) {
          <plan-estudio-aprobar-cu [planEstudio]="planEstudio"></plan-estudio-aprobar-cu>
        }

      </mat-dialog-content>
      <mat-dialog-actions align="end" class="flex gap-2">
        <!-- <ui-button color="secondary" label="Cancelar" mat-dialog-close="cancelar"></ui-button> -->
        <!-- <ui-button color="orange" label="Devolver y Retroceder"></ui-button>
        <ui-button color="primary" label="Dar Alta"></ui-button> -->
        @if( tipoBandeja() == 'Recibidos' ) {
          
          <mensajeria-flujo-navegacion [allDestinatario]="listaDestinatariosResponderA()" ></mensajeria-flujo-navegacion>

        }
      </mat-dialog-actions>
     }
  }

  

  <!-- @if ( tipoCard === 'VALIDAR' || tipoCard === 'CAMBIAR') {


  } -->
  </ng-template>

  <!-- <pre>
    {{ mensajesHistorial() | json }}
  </pre> -->