<div class="text-center m-b-25 f-18 f-w-500 text-white">Seleccione el rol a ingresar</div>
<mat-progress-bar class="loader" mode="indeterminate" value="40"></mat-progress-bar>
<br>
@if (isSpinnerVisible) {
}

@for (rol of roles; track rol) {
    

<div class="bg-white scale bg-white border-round my-4 border-3 border-white cursor-pointer hover:border-cyan-500" (click)="selectRol(rol)">
    <div class="flex justify-content-left align-item-center gap-4 mx-4">
        <img [src]="'./assets/images/authentication/rol/' + rol.Nombre +'.gif'" width="80px"/>
        <span class="f-w-400 f-20">{{ rol.Nombre }}</span>
    </div>
</div>

}
