<app-card cardClass="max-w-5xl w-full" [showHeader]="false">

  <div class="flex flex-column justify-content-center align-items-center">
    <h1 class="font-bold text-3xl m-0 text-800">SELECCIONAR ROL</h1>
    <p-divider />
    <!-- <p class="text-sm text-600 mt-1">Elija su área y rol para continuar</p> -->
  </div>

  @if (listaModulo().length > 0) {
  <div class="flex flex-column gap-3">

    @for (data of listaModulo(); track $index) {
    @for (modulo of data.modulo; track $index) {

    <p-fieldset [legend]="modulo.nombre" [toggleable]="true" [collapsed]="false" class="shadow-1">

      <div class="flex flex-wrap gap-2">

        @for (rol of modulo.roles; track $index) {
        <p-chip [label]="rol.nombre" class="cursor-pointer" [style.backgroundColor]="getRolColor(rol.nombre)"
          style="color: #374151" (click)="seleccionarRol(rol)">
        </p-chip>

        }

      </div>
    </p-fieldset>
    }
    }

  </div>
  }
  @else {
  <ui-card-not-items [text]="`No se encontraron Roles asignados con el usuario ${dni()}`"></ui-card-not-items>
  }

</app-card>
<ui-button label="Volver" class="absolute p-4" (onClick)="volver()"></ui-button>