<app-card headerClassTemplate="py-10 flex justify-content-between align-item-center  {{ showFormAddSubCategoria() ? 'w-full' : 'w-30rem' }}">
    <ng-template #headerTitleTemplate>
        <div>Sub categorias</div>
        <ui-button color="primary" icon="ti ti-plus" (onClick)="showFormAddSubCategoria.set( true )"></ui-button>
    </ng-template>
    <div class="flex flex-column gap-2">
        @for ( subCategoria of subCategorias(); track subCategoria; let isFirst = $first ) {
        
            @if ( !isFirst ) {
                <mat-divider></mat-divider>
            }
            
            <div class="flex justify-content-between align-items-center"
    
            >
                <div class="border-3xl border-round text-accent-700 px-2">{{ subCategoria.nombre }}</div>
                <div class="flex gap-2 hidden" [id]="subCategoria.id">
                    <div class="text-red-700 border-round px-1 cursor-pointer bg-red-100" (click)="deleteConfirm( subCategoria )"><i class="ti ti-trash"></i></div>
                </div>
            
                <!-- <div class="text-primary-700 px-2">
                    <ui-button-icon icon="ti ti-edit"></ui-button-icon>
                </div> -->
            </div>
        }

    
    </div>
</app-card>