<button [id]="idButton" [disabled]="disabled" mat-flat-button [matTooltip]="tooltip" [class]="classButton" (click)="onClick.emit( $event )" 
[class]="type != 'default' ? 'bg-'+color+'-100 text-'+color+'-700 border-round-'+borde : [color] != 'secondary' ? 'bg-'+color+'-500 text-white' : ''"

>
<!-- 
[class]="{'bg-{{color}}-100 text-{{color}}-700 border-round-{{borde}}': type != 'default', 'bg-{{color}}-500 text-white': [color] != 'secondary' }"
[class]="type != 'default' ? 'bg-'+color+'-100 text-'+color+'-700 border-round-'+borde : color == secondary ? 'bg-'+color+'-500 text-white' : ''" -->
    @if ( icon ) {
       <i class="{{ icon }}"></i> 
    }

    @if ( label ) {
        {{ label }}
    }
    <ng-content></ng-content>
</button>