@for (asignacion of asignaciones(); track asignacion) {
<app-card headerClassTemplate="">
    <ng-template #headerTitleTemplate class="align-items-center">
      <div class="flex gap-2">
        <div class="flex align-items-center gap-2">
          <!-- CHANGE DECANO START  -->
          <div class="user-upload wid-40" matTooltip="Cambiar de Decano" (click)="openModalDecanos( templateDecano, asignacion )">
              <img src="assets/images/user/avatar-1.png" alt="img" class="img-fluid" />
              <label for="uplfile" class="img-avatar-upload">
                <i class="ti ti-refresh f-24 m-b-5"></i>
              </label>
          </div>
          <!-- CHANGE DECANO END -->
          
          <!-- NAME FACULTAD AND DEDANO START -->
          <div class="flex flex-column text-sm">
              {{ asignacion.nombreFacultad }}
              <span class="text-xs f-w-500"> {{ asignacion.nombreDecano }}</span>
          </div>
          <div class="absolute right-0 mx-4">
            <ui-button icon="ti ti-plus" color="primary" tooltip="Agregar facultad" (click)="openModalFacultad()"></ui-button>
          </div>
          <!-- NAME FACULTAD AND DEDANO END -->

          <!-- CHANGE FACULTAD START -->
          <!-- <button mat-flat-button color="primary" class="b-rad-50" matTooltip="Cambiar Facultad" (click)="openModalFacultad()">
              <div class="flex align-item-center"><i class="ti ti-refresh f-18 m-r-5"></i></div>
          </button> -->
          <!-- CHANGE FACULTAD END -->

        </div>
      </div>

    </ng-template>
 

   <!-- PROGRAMA STAR -->
   <div class="flex gap-3">
    <div class="flex gap-3 flex-wrap justify-content-center">
      @for (programa of asignacion.programas; track programa) {
        <programa-card [programa]="programa" [asignacion]="asignacion"></programa-card>
      }
      <!-- @if ( idFacultadYaAsignada() == asignacion.idFacultad ) { -->
        <programa-page [idFacultad]="asignacion.idFacultad">
          <app-director-page director-page class="flex align-items-center gap-2 bg-primary-50 text-gray-900 px-2 pt-2 border-round"></app-director-page>
          <local-page local-page class="my-2"></local-page>
          <ui-button ui-button-guardar label="ASIGNAR PROGRAMA" color="primary" class="text-center block" (click)="agregarProgramaConfirm(asignacion)"></ui-button>        
        </programa-page>
      <!-- } -->
    </div>
    <!-- <programa-page programa-page>
    </programa-page> -->
  </div>
<!-- PROGRAMA END        -->
    
</app-card>
}

<!-- {{ semestreSelect() | json}} -->


<ng-template #templateDecano let-data>
  <app-decano-list></app-decano-list>
</ng-template>
