<div class="flex justify-content-between">
    <div class="pt-3">
        <div class="flex align-items-center justify-content-between gap-2">
            <app-select-semestre-local></app-select-semestre-local>
        </div>
    </div>
    @if(selectProgramaSeleccionado()){
        <app-leyenda-plan-estudio></app-leyenda-plan-estudio>
    }
</div>
<mat-divider class="mt-1"></mat-divider>

@if(selectProgramaSeleccionado()){
<div class="mt-1">
    <apertura-cursos-list></apertura-cursos-list>
</div>
}
<!-- {{  selectSemestreLocal() |json}} -->