  
.arrow-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 800%;
    pointer-events: none; /* Las flechas no deben interferir con los eventos del ratón */
  }
  #arrowContainerEquivalencia {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9; /* Asegura que las flechas estén detrás de los cards */
  }
  .texto-step {
    font-size: 1.2rem; /* Ajusta el tamaño como desees */
    font-weight: bold;
  }