<!-- <ui-button color="blue" icon="ti ti-save f-16" (onClick)="guardar()">Guardar {{ this.estado.getEstado }}</ui-button>
{{ planEstudioSelect().nombre }}
{{ planEstudioStepper().nombre }} -->
<mat-stepper linear #stepper (selectedIndexChange)="changeStepper( $event )">


    <mat-step [stepControl]="formDisenar" [editable]="isEditable" #stepper>
      <form [formGroup]="formDisenar" hidden>
        <ng-template matStepLabel>
            <span [ngClass]="{'texto-step': stepper.selectedIndex === 0}">Construcción</span>
          </ng-template>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput type="number" formControlName="inputStep1" placeholder="Last name, First name" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
      <ng-template matStepContent>
            <h1>{{ planEstudioSelect().nombre }}</h1>
            <!-- <div class="flex justify-content-end gap-2 -mr-3 px-0">
                @if ( showBtnActivarEdicion ) {
                    <ui-button color="blue" icon="ti ti-save f-16" (onClick)="activarEdicion()">Activar Edición</ui-button>
                } @else {
                    
                    <ciclo-page></ciclo-page>
                    <ui-button color="blue" icon="ti ti-save f-16" (onClick)="openModalCursos()">Agregar Cursos</ui-button>
                    <ui-button color="blue" icon="ti ti-save f-16" (onClick)="listarDesfasados( templateCursoDesfasadoList )">Ver Cursos Desfasados</ui-button>
                }

                @if ( !showBtnActivarEdicion && cursosByCiclo().length == 0 ) {
                    <ui-button color="blue" icon="ti ti-save f-16" (onClick)="showModalImportar( templateCursoImport )">Importar Cursos</ui-button>
                }
            
            </div> -->
            
        <!-- <curso-list [readonly]="showBtnActivarEdicion"></curso-list> -->
        <malla-list [readonly]="showBtnActivarEdicion"></malla-list>

      </ng-template>
      
    </mat-step>
    <!-- <mat-step [stepControl]="formAsignar" [editable]="isEditable">
      <form [formGroup]="formAsignar" hidden>
        <ng-template matStepLabel>Asignación de Cursos al Plan de Estudios</ng-template>
        <mat-form-field>
          <mat-label>Address</mat-label>
          <input matInput formControlName="asignacion" placeholder="Ex. 1 Main St, New York, NY"
                 required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
      <ng-template matStepContent>
          @if ( formAsignar.value.asignacion == '') {
              <app-card [showHeader]="false" cardClass="bg-red-50">
                <div class="flex justify-content-between">
                    <p class="f-20">Asignación de Cursos al Plan de Estudios</p>
                    <i class="ti ti-file-alert f-44 text-orange-700" matTooltip="Asignación de cursos pendientes"></i>
                </div>
                <p class="f-14">¿Estás seguro que deseas Asignar los cursos al Plan de Estudios?</p>
                <div class="flex justify-content-end">
                    <ui-button color="blue" icon="ti ti-save f-16" (onClick)="asignarConfirm()">Asignar Cursos</ui-button>
                </div>
              </app-card>
          } @else {
                <app-card [showHeader]="false" cardClass="bg-green-50">
                    <div class="flex justify-content-between">
                        <p class="f-20">Plan de Estudios Asignado!</p>
                        <i class="ti ti-file-check f-44 text-green-900" matTooltip="Cursos asignados"></i>
                    </div>
                    <p class="f-14">El plan de estudios ya fué asignado, puede continuar con el registro de las equivalencias</p>
    
                    <div class="flex justify-content-end">
                        <ui-button color="blue" icon="ti ti-save f-16" (onClick)="next()">Continuar</ui-button>
                    </div>
                </app-card>
          }
      </ng-template>
    </mat-step> -->
    <mat-step  >
        <form [formGroup]="formAsignarPreRequisitos" hidden>
            <ng-template matStepLabel>
                <span [ngClass]="{'texto-step': stepper.selectedIndex === 1}">Asignación de Pre-requisitos</span>
              </ng-template>
            <mat-form-field>
              <mat-label>Pre-requisito</mat-label>
              <input matInput formControlName="preRequisitos" placeholder="Ex. 1 Main St, New York, NY"
                     required>
            </mat-form-field>
          </form>
          <ng-template matStepContent>
            <!-- <malla-curricular-list></malla-curricular-list> -->
            <malla-list [preRequisito]="true"></malla-list>
          </ng-template>
    </mat-step>

    <mat-step>

        <form [formGroup]="formAsignarEquivalencia" hidden>
            <ng-template matStepLabel>
                <span [ngClass]="{'texto-step': stepper.selectedIndex === 2}">Asignación de Equivalencias</span>
              </ng-template>
            <mat-form-field>
              <mat-label>Name</mat-label>
              <input matInput type="number" formControlName="asignacionEquivalencia" placeholder="Last name, First name" required>
            </mat-form-field>
            <div>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>



      <ng-template matStepContent>
            <!-- <pre>{{ cursosPrimariosMalla | json }}</pre> -->
            @if ( !loading ) {
                <div class="row">
                    <div class="col-3">
                        <pre>Total de Cursos: {{ cursosMallaEquivalenciaActual.length }}</pre>
                    </div>
                    <div class="col-3">
                        <pre>Primarias: {{ equivalenciaSecundariaCompleta | json}}</pre>
                    </div>
                    <div class="col-3">
                        <pre>Secuntarias Pendientes M: {{ equivalenciaSecundariasPendientes | json}}</pre>
                    </div>
                    <div class="col-3">
                        <pre>isValid: {{ cursoMallaEquivalenciaValidator().primarios.isValid }}</pre>
                    </div>
                    <mat-divider></mat-divider>
                    <h5>Primarios</h5>
                    <div class="col-3">
                        <pre>Total de Cursos: {{ cursoMallaEquivalenciaValidator().totalCurso }}</pre>
                    </div>
                    <div class="col-3">
                        <pre>IsFirst: {{ cursoMallaEquivalenciaValidator().isFirstPlan }}</pre>
                    </div>
                    <div class="col-3">
                        <pre>Primarias Pendientes: {{ cursoMallaEquivalenciaValidator().primarios.pendientes }}</pre>
                    </div>
                    <div class="col-3">
                        <pre>Primarias Total: {{ cursoMallaEquivalenciaValidator().primarios.totalPrimarios }}</pre>
                    </div>
                    <!-- <pre>{{ cursoPlanEquivalenciaValidar() | json }}</pre> -->
                    <!-- @if ( loading ) {
                        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                    } -->
                    <!-- <button (click)="addLine()">Add Connection</button> -->
                    <div class="flex justify-content-between gap-2 mt-2">
                            <div class="price-check row align-item-center -mt-1">
                                <div class="col-12">
                                    <div class="flex justify-content-start">
                                        @if (connections.length > 0) {
                                        <span class="m-b-0 border-round bg-blue-200 text-xs font-light shadow-3 px-2">
                                            PRIMERO DEBE INSERTAR LAS EQUIVALENCIAS SECUNDARIAS QUE SE CONECTAN POR DEFECTO
                                        </span>
                                        }
                                        @else if(equivalenciaCompleta && connections.length == 0){
                                            <span class="m-b-0 border-round bg-blue-200 text-xs font-light shadow-3 px-2">
                                                PARA AVANZAR AL SIGUIENTE PASO DEBE TERMINAR DE INSERTAR TODAS SUS EQUIVALENCIAS
                                            </span>
                                        }@else {
                                            <span class="m-b-0 border-round bg-green-200 text-xs font-light shadow-3 px-2">
                                                PUEDE AVANZAR AL SIGUIENTE MÓDULO
                                            </span> 
                                        }
                                    </div>
                                </div>
                            </div>
                    
                        <div class="flex justify-content-end gap-2">
                            <ui-button color="blue" (onClick)="guardarPrimariosConfirm()" [disabled]="cursosPrimariosMalla.length == 0">Guardar Equivalencia Primaria</ui-button>
                            @if(planesDeEstudio().length > 1){
                                <ui-button color="blue" (onClick)="guardarCursosSecundariosConfirm()" [disabled]="!cursoPlanEquivalenciaValidarAutomatico().equivalenciaTerminada && connections.length == 0">Guardar Equivalencia Secundaria</ui-button>
                            }
                        </div>
                    </div> 
                    <div class="col-6">
                        
                        
                        <app-card cardClass="mt-2" headerClassTemplate="py-10 flex justify-content-between align-item-center w-full">
                            <ng-template #headerTitleTemplate>
                        
                                <div>{{ planEstudioUltimoConResolucion().nombre ?? 'NO HAY PLAN DE ESTUDIOS' }}</div>
                                <div class="bg-gray-600 text-white border-1 border-round px-3">PREDECESOR</div>
                                <!-- <ui-button color="primary" icon="ti ti-plus" matTooltip="Guardar Equivalencia Primaria" (onClick)="guardarPrimariosConfirm()"></ui-button>
                                <ui-button color="primary" icon="ti ti-plus" matTooltip="Guardar Equivalencia Secundaria" (onClick)="guardarPrimariosConfirm()"></ui-button> -->
                        
                            </ng-template>
                            <div class="row text-center bg-accent-300 align-items-center">
                                <div class="col-1 border-3xl border-round text-accent-700 f-10 font-bold">Ciclo</div>
                                <div class="col-1 border-3xl border-round text-accent-700 f-10 font-bold">Cod. Curso</div>
                                <div class="col-3 border-3xl border-round text-accent-700 f-10 font-bold text-left pl-4">Nombre Asignatura</div>
                                <div class="col-2 border-3xl border-round text-accent-700 f-10 font-bold text-left pl-3">Tipo de Estudio</div>
                                <div class="col-2 border-3xl border-round text-accent-700 f-10 font-bold">Tipo Asignatura</div>
                                <div class="col-2 border-3xl border-round text-accent-700 f-10 font-bold">
                                    <div class="flex gap-2 justify-content-rigth">
                                        <div>HT</div>
                                        <div>HP</div>
                                        <div>TH</div>
                                        <div>CRED.</div>
                                    </div>
                                </div>
                                <div class="col-1 border-3xl border-round text-accent-700 f-10 font-bold"></div>
                            </div>
            
                            
                            @for (curso of cursosMallaEquivalenciaUltimo; track curso; let isFirst = $first; let index = $index ) {
                            <!-- @for (curso of cursosPlanEquivalenciaUltimo; track curso; let isFirst = $first; let index = $index ) { -->
                                @if ( !isFirst ) {
                                    <mat-divider></mat-divider>
                                }
                                <div
                                    class="row text-center align-items-center"
                                    [ngClass]="
                                    {
                                        'text-red-700 font-bold': curso.estado == 'DESFASADO',
                                    }"
                                    [attr.id]="'cardLeft-' + curso.idMalla"
                                    (click)="connections.length > 0 ? '' : seleccionarCursoPlanProceso(curso)"
                                    ColorCursoEquivalente
                                    ColorCursoSecundario
                                    [connectionsColor]="connectionsColor"
                                    [curso]="curso"
                                    [cursos]="cursosMallaEquivalenciaActual"
                                >
                                    <div class="col-1 border-3xl border-round f-10">
                                        {{ curso.cicloRomano }}
                                    </div>
                                    <div class="col-1 border-3xl border-round f-10">{{ curso.codigoCurso }}</div>
                                    <div class="col-3 border-3xl border-round f-10 text-left pl-4">{{ curso.nombreCurso }}</div>
                                    <div class="col-2 border-3xl border-round f-10 text-left pl-3">{{ curso.tipoEstudio }}</div>
                                    <div class="col-2 border-3xl border-round f-10">{{ curso.tipoCurso }}</div>
                                    <div class="col-2 border-3xl border-round f-10">
                                        <div class="flex gap-3 justify-content-rigth">
                                            <div>{{ curso.horasTeoricas }}</div>
                                            <div>{{ curso.horasPracticas }}</div>
                                            <div>{{ curso.totalHoras }}</div>
                                            <div>{{ curso.totalCreditos }}</div>
                                        </div>
                                    </div>
                                    <div class="col-1 border-3xl border-round f-10 check">
                                        <div class="flex gap-2 align-items-center">
                                            @switch (curso.estado)
                                            {
                                                @case ('DESFASADO') {
                                                    <i class="ti ti-x f-16 text-white bg-red-700 border-circle border-1 p-1"></i>
                                                }
                                                @default {
                                                    @if ( curso.modalidadDeCreacion == 'POR RENOVACION' ){
                                                        <i class="ti ti-clock f-16 text-white bg-blue-700 border-circle border-1 p-1"></i>
                                                    } @else {
                                                        <ui-button
                                                            [matTooltip]="curso.equivalencias.length == 0 ? 'Equivalencia Pendiente' : 'Equivalencia Regitrada'"
                                                            [color]="curso.equivalencias.length == 0 ? 'gray' : 'green'"
                                                            [classButton]="curso.equivalencias.length == 0 ? 'boton-parpadeante p-0 -ml-3' : 'p-0 -ml-3'">
                                                            <i [id]="'icon-'+curso.idMalla" class=""></i>
                                                        </ui-button>
                                                    }
                                                }
                                            }

                                            <!-- @switch ( curso.estado ) {
                                                @case ( 'RENOVADO' ) {
                                                    <i class="ti ti-step-out f-16 text-white bg-gray-700 border-circle border-1 p-1" [ngClass]="{'activeFocus': cursosMallaEquivalenciaActual.includes( curso.idMalla )}"></i>
                                                }
                                                @case ( 'DESFASADO' ) {
                                                    <i class="ti ti-x f-16 text-white bg-red-700 border-circle border-1 p-1"></i>
                                                }
                                                @case ( 'ACTIVO' ) {
                                                    <i class="ti ti-check f-16 text-white bg-green-700 border-circle border-1 p-1"></i>
                                                }
                                            } -->
                                        </div>
                                    </div>
                                </div>
                            }
                        </app-card>
                    </div>
                    <div class="col-6">
                        <!-- <pre>
                            {{ selectedRightCard | json }}
                        </pre> -->
                        <app-card cardClass="mt-2" headerClassTemplate="py-10 flex justify-content-between align-item-center w-full">
                            <ng-template #headerTitleTemplate>
                        
                                <div>{{ planEstudioSelect().nombre ?? 'NO HAY PLAN DE ESTUDIOS' }}</div>
                                <div class="bg-blue-600 text-white border-1 border-round px-3 boton-parpadeante">EN CONSTRUCCIÓN</div>
                                <!-- <ui-button color="primary" icon="ti ti-plus" (onClick)="openModalCategoria( Categorias )"></ui-button> -->
                        
                            </ng-template>
                            <div class="row text-center bg-accent-300 align-items-center">
                                <div class="col-1 border-3xl border-round text-accent-700 f-10 font-bold pl-4">Ciclo</div>
                                <div class="col-1 border-3xl border-round text-accent-700 f-10 font-bold">Cod. Curso</div>
                                <div class="col-3 border-3xl border-round text-accent-700 f-10 font-bold text-left pl-4">Nombre Asignatura</div>
                                <div class="col-2 border-3xl border-round text-accent-700 f-10 font-bold text-left pl-3">Tipo de Estudio</div>
                                <div class="col-2 border-3xl border-round text-accent-700 f-10 font-bold">Tipo Asignatura</div>
                                <div class="col-2 border-3xl border-round text-accent-700 f-10 font-bold">
                                    <div class="flex gap-2 justify-content-rigth">
                                        <div>HT</div>
                                        <div>HP</div>
                                        <div>TH</div>
                                        <div>CRED.</div>
                                        @if(planesDeEstudio().length == 1){
                                            <input type="checkbox" class="z-5" (change)="selectPrimarioMasivo($event)">
                                        }
                                    </div>
                                </div>
                                <div class="col-1 border-3xl border-round text-accent-700 f-10 font-bold"></div>
                            </div>
    
            
                            
                            @for (curso of cursosMallaEquivalenciaActual; track curso; let isFirst = $first; let index = $index ) {
                            <!-- @for (curso of cursosPlanEquivalenciaActual; track curso; let isFirst = $first; let index = $index ) { -->
                                @if ( !isFirst ) {
                                    <mat-divider></mat-divider>
                                }
                            <label [for]="'check-'+curso.idMalla">
                                <div 
                                    class="row text-center align-items-center"
                                    [ngClass]="
                                    {
                                        'text-red-700 font-bold': curso.estado == 'DESFASADO',
                                        
                                        
                                    
                                    }"
                                    [attr.id]="'cardRight-' + curso.idMalla"
                                    (click)="connections.length > 0 ? '' : seleccionarCursoPlanUltimo(curso)"
                     
                                    ColorCursoSecundario
                                    ColorCursoEquivalente
                                    [connectionsColor]="connectionsColor"
                                    [curso]="curso"
                                    [cursos]="cursosMallaEquivalenciaUltimo"
                                >
                                        <div class="col-1 border-3xl border-round f-10">
                                            <div class="flex gap-2 align-items-center">
                                                @switch (curso.estado)
                                                {
                                                    @case ('DESFASADO') {
                                                        <i class="ti ti-x f-16 text-white bg-red-700 border-circle border-1 p-1"></i>
                                                    }
                                                    @default {
                                                        @if ( curso.modalidadDeCreacion == 'POR RENOVACION' ){
                                                            <i class="ti ti-clock f-16 text-white bg-blue-700 border-circle border-1 p-1"></i>
                                                        } @else {
                                                            <ui-button
                                                                [matTooltip]="curso.equivalencias.length == 0 ? 'Equivalencia Pendiente' : 'Equivalencia Regitrada'"
                                                                [color]="curso.equivalencias.length == 0 ? 'gray' : 'green'"
                                                                [classButton]="curso.equivalencias.length == 0 ? 'boton-parpadeante p-0 -ml-3' : 'p-0 -ml-3'">
                                                                <i [id]="'icon-'+curso.idMalla" class=""></i>
                                                            </ui-button>
                                                        }
                                                    }
                                                }

                                       
                                                <!-- @switch (curso.estado)
                                                {
                                                    @case ('RENOVADO') {
                                                        <i class="ti ti-step-out f-16 text-white bg-gray-700 border-circle border-1 p-1 -ml-2"></i>
                                                    }
                                                    @case ('DESFASADO') {
                                                        <i class="ti ti-x f-16 text-white bg-red-700 border-circle border-1 p-1 -ml-2"></i>
                                                    }
                                                    @case ('ACTIVO') {
                                                        @if (curso.equivalencias.length == 0) {
                                                            <i class="ti ti-edit f-16 text-white bg-yellow-700 border-circle border-1 p-1 -ml-2"></i>
                                                        } @else if (curso.equivalencias.length > 0) {
                                                            <i class="ti ti-check f-16 text-white bg-green-700 border-circle border-1 p-1 -ml-2"></i>
                                                        }
                                                    }
                                                } -->
                                                {{ curso.cicloRomano }}
                                            </div>
                                        </div>
                                        <div class="col-1 border-3xl border-round f-10">{{ curso.codigoCurso }}</div>
                                        <div class="col-3 border-3xl border-round f-10 text-left pl-4">{{ curso.nombreCurso }}</div>
                                        <div class="col-2 border-3xl border-round f-10 text-left pl-3">{{ curso.tipoEstudio }}</div>
                                        <div class="col-2 border-3xl border-round f-10">{{ curso.tipoCurso }}</div>
                                        <div class="col-2 border-3xl border-round f-10">
                                            <div class="flex gap-3 justify-content-rigth">
                                                <div>{{ curso.horasTeoricas }}</div>
                                                <div>{{ curso.horasPracticas }}</div>
                                                <div>{{ curso.totalHoras }}</div>
                                                <div>{{ curso.totalCreditos }}</div>
                                            </div>
                                        </div>
                                        <div class="col-1 border-3xl border-round f-10 py-0">
                                            <div class="flex gap-2">
                                                
                                                @if ( curso.equivalencias.length == 0 || cursosMallaEquivalenciaUltimo.includes( curso.idMalla ) ) {
                                                   @if (!mostrarCheckboxPrimario(curso) && curso.modalidadDeCreacion == 'SIMPLE' && connections.length == 0  && equivalenciaSecundariasPendientes == 0) 
                                                   {<input type="checkbox" [id]="'check-'+curso.idMalla" (change)="updateMalla($event, curso)">} <!-- <mat-checkbox (change)="update($event.checked, curso)" class="example-margin" [id]="'check-'+curso.idCursoPlan"></mat-checkbox> -->
                                                    
                                                } @else {
                                                    @if((curso.equivalencias[0].idMalla == null && curso.modalidadDeCreacion == 'SIMPLE') || curso.modalidadDeCreacion == 'POR RENOVACION'  ){
                                                        <ui-button icon="ti ti-trash text-red-500 f-16" classButton="p-0 -ml-2" (onClick)="eliminarEquivalenciaConfirm( curso )"></ui-button>
                                                    }
                                                    <!-- <mat-icon class="text-red-500" matTooltip="Equivalencia Registrada">delete</mat-icon> -->
                                                }
                                            </div>    
                                        </div>
                                    </div>
                        </label>
                                }
                            </app-card>
                            <svg id="arrowContainerEquivalencia" class="arrow-container"></svg>
                        </div>
                </div>
            }
      </ng-template>

    </mat-step>
    <mat-step [stepControl]="formAsignar" [editable]="isEditable">
      <form [formGroup]="formAsignar" hidden>
        <ng-template matStepLabel>
            <span [ngClass]="{'texto-step': stepper.selectedIndex === 3}">Vista Preliminar del Plan de Estudio</span>
          </ng-template>
        <mat-form-field>
          <mat-label>Address</mat-label>
          <input matInput formControlName="asignacion" placeholder="Ex. 1 Main St, New York, NY"
                 required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
      <ng-template matStepContent>
          @if ( formAsignar.value.asignacion == '') {
              <app-card [showHeader]="false" cardClass="bg-red-50">
                <div class="flex justify-content-between">
                    <p class="f-20">Finalizar el Proceso de Creación de Plan de Estudios</p>
                    <i class="ti ti-file-alert f-44 text-orange-700" matTooltip="Asignación de cursos pendientes"></i>
                </div>
                <p class="f-14">Al finalizar el proceso, todos los componentes del Plan de Estudios quedarán en modo de solo lectura y ud. no podrá realizar ningún cambios a futuro ¿Estás seguro que deseas dar por Finalizado el proceso de creación del Plan de Estudios?</p>
                <div class="flex justify-content-between">
                    <app-exportar-pdf-plan-de-estudio></app-exportar-pdf-plan-de-estudio>
                    <!-- <ui-button class="z-0" color="blue" icon="ti ti-save f-16"(onClick)="finalizarProceso()">Finalizar y Responder Mensaje</ui-button> -->
                </div>
              </app-card>
          } @else {
                <app-card [showHeader]="false" cardClass="bg-green-50">
                    <div class="flex justify-content-between">
                        <p class="f-20">Plan de Estudios Asignado!</p>
                        <i class="ti ti-file-check f-44 text-green-900" matTooltip="Cursos asignados"></i>
                    </div>
                    <p class="f-14">El plan de estudios ya fué asignado, puede continuar con el registro de las equivalencias</p>
    
                    <div class="flex justify-content-end">
                        <ui-button color="blue" icon="ti ti-save f-16" (onClick)="next()">Continuar</ui-button>
                    </div>
                </app-card>
          }
      </ng-template>
    </mat-step>

</mat-stepper>

<ng-template #templateCursoDesfasadoList let-data>
    <mat-dialog-content>
        <curso-desfasado-list></curso-desfasado-list>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <ui-button color="secondary" label="Cancelar" mat-dialog-close="cancelar" class="m-r-10"></ui-button>
        <ui-button color="primary" label="Revertir Desfase" [disabled]="cursoDesfasadoSelected().id == 0" (onClick)="revertirDesfaseConfirm()"></ui-button>
    </mat-dialog-actions>
</ng-template>

<ng-template #templateCursoImport let-data>
    <mat-dialog-content>
        <curso-import-template></curso-import-template>

    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <ui-button color="secondary" label="Cancelar" mat-dialog-close="cancelar" class="m-r-10"></ui-button>
        <ui-button color="primary" label="Importar" (onClick)="guardarCursosImport()" [disabled]="file().files.length == 0"></ui-button>
    </mat-dialog-actions>
</ng-template>
<!-- <pre>
    {{ cursoPlanEquivalenciaValidar() | json }}
</pre> -->

  <!-- <pre>
    {{ planEstudioStepper() | json }}
    {{ planEstudioSelect() | json}}
    {{ planEstudioUltimoConResolucion() | json}}
  </pre> -->