<!-- @if (selectProgramaSeleccionado()) {
  {{ selectProgramaSeleccionado() }} -->
  <mat-dialog-content>
    @if(listaCursosAperturados().length > 0){
       @for(cursosAperturados of resolucionesColoreadas; track $index){
        <!-- {{ cursosAperturados |json }}    -->
        <div class="flex align-items-center" >
             <span [ngStyle]="{'background-color': cursosAperturados.color}" 
                   class="w-1rem h-1rem mr-2 inline-block border-round-md">
             </span>
             <div>
               <div class="font-normal text-xs" >{{ cursosAperturados.resolucion }}</div>
             </div>
           </div>
         }
    }
 
    @if(listaCursosAperturados().length === 0){
        <div>
          <p class="text-xs">No se encontraron cursos aperturados de un plan</p>
        </div>
    }
 </mat-dialog-content>
<!-- }@else {
  {{ selectProgramaSeleccionado() }}
 pruebaaa -->
<!-- } -->

  
