<mat-dialog-content>
    @if ( showFormAgregarDecano ) {
        <user-add (cerrarFormulario)="openShowFormCrearDecano( $event )" [usuarioToEdit]="decanoEdit" [component]="'decano-list'"></user-add>
    
    }
    @else {
        <!-- <app-card cardTitle="Decanos" padding="0" cardClass="customer-edit-card m-b-0" headerClass="p-15" actionClass="card-footer block">
            <ng-template #headerOptionsTemplate>
                <a class="avatar avatar-s customer-edit-header" mat-dialog-close>
                <i class="ti ti-x f-20"></i>
                </a>
            </ng-template>
            <ng-scrollbar class="alturaModal"> -->
                <div class="flex flex-column md:flex-row m-3 gap-6">
                    <div class="w-full text-center">
                        <h4 class="f-w-500 text-left">Lista de decanos:</h4>
                        @if ( decanos().length == 0 ) {
                            <i class="ti ti-archive f-60 text-gray-600"></i><br>
                            <span class="text-gray-600">No hay decanos creados</span>
        
                        } @else {
                            <!-- {{ decanos() | json }} -->
                            <mat-radio-group [(ngModel)]="decanoSelect">
                                @for (decano of decanos(); track decano) {
        
                                    <div class="w-full border-1 border-gray-400 border-round text-left my-2 px-2"  >
                                            
                                        <mat-radio-button class="flex w-full" [value]="decano" [disabled]="decano.estado != 'ACTIVO' || deshabilitarDecanoAsignado(decano)">
                                            <div class="flex justify-content-between">
                                                <div class="m-3 w-full">
                                                    <div class="f-w-600"> {{ decano.usuario }} </div>
                                                    <div class="f-12"> {{ decano.estado }} </div>
                                                </div>
        
                                                @if ( decano.estado != 'ACTIVO' ) {
                                                    <div class="top-0 right-0 m-2">
                                                        <button mat-icon-button [matMenuTriggerFor]="optionDecano" aria-label="Example icon-button with a menu">
                                                            <mat-icon>more_vert</mat-icon>
                                                        </button>
                                                        <mat-menu #optionDecano="matMenu" class="p-0">
                                                            <!-- <button mat-menu-item (click)="openShowFormEditarDecano(decano, 'Open')" class="text-primary"><i class="ti ti-edit f-18 text-primary"></i> <span class="f-w-600">Editar</span></button> -->
                                                            <button mat-menu-item (click)="activarDecanoConfirm(decano)" class="text-blue-500"><i class="ti ti-check f-18 text-blue-500"></i> <span class="f-w-600">Activar</span></button>
                                                    
                                                        </mat-menu>
                                                    </div>
                                                }
                                                
                                            </div>
                                        </mat-radio-button>
                                    </div>
                                }
                            </mat-radio-group>
                        }
                        
                    </div>
                    <div class="w-full md:w-8">
                        <h4 class="f-w-400 text-center block">¿No encuentras lo que buscas?</h4>
                        <div class="flex border-1 border-round border-gray-400 justify-content-center align-item-center">
                            <!-- openShowFormCrearDecano( 'Open' ) -->
                            <button mat-flat-button color="primary" class="b-rad-20 my-6" matTooltip="Crear decano" (click)="irModuloAsignarDecano()">
                                <div class="flex align-item-center"> <i class="ti ti-plus f-18 m-r-5"></i></div>
                            </button>
                        </div>
                    </div>
                </div>
            <!-- </ng-scrollbar> -->
            
            
            <!-- <ng-template #actionTemplate>
                <div class="flex align-item-center justify-content-between">
                    <div class="flex-grow-1 text-end">
                
                        <ui-button color="secondary" label="Cancelar" mat-dialog-close="cancelar" class="m-r-10"></ui-button>
                        <ui-button color="primary" label="Seleccionar" [disabled]="decanoSelect.id == 0" (click)="onSelect()"></ui-button>
                
                    </div>
                </div>
            </ng-template> -->
            
        <!-- </app-card> -->
    }
</mat-dialog-content>

<mat-dialog-actions align="end">
    <ui-button color="secondary" label="Cancelar" mat-dialog-close="cancelar" class="m-r-10"></ui-button>
    <ui-button color="primary" label="Seleccionar" [disabled]="decanoSelect.id == 0" (click)="onSelect()"></ui-button>
</mat-dialog-actions>