.bg-approved {
    background: linear-gradient(45deg, #13871ab5, #00ff60bd, #00710eb3);
    // border: var(--green-700) 2px solid
}

.bg-archived {
    background: linear-gradient(45deg, #ffffaf, #fffff7, #fff396);
    // border: var(--yellow-700) 2px solid

}


.bg-closed {
    background: linear-gradient(45deg, #f44336a8, #fffff7, #ff5722a3);
    // border: var(--red-700) 2px solid
}


//linear-gradient(45deg, #afffb4, #f7fffa, #96ffa3)

//linear-gradient(45deg, #13871a, #00ff60, #009f14)
