  @if(openFormSecciones){
    <app-secciones-add (cerrarFormulario)="openShowFormSeccion( $event )" [seccionEdit]="seccionEdit"></app-secciones-add>
  }
  @else {
    <div>
      @if(!loading){
      <app-card headerClassTemplate="py-10 flex justify-content-between align-item-center w-full">
        <ng-template #headerTitleTemplate>

            <div>LISTAR SECCIONES DE {{ cursoAperturado().nombreCurso }} </div>
            <div class="flex justify-content-end gap-2">
              <ui-button (onClick)="openShowFormSeccion('Open')"
                [ngClass]="{'boton-parpadeante': listaSecciones().length == 0}" color="primary" icon="ti ti-plus"
                matTooltip="Agregar Sección"></ui-button>
            </div>

        </ng-template>
        <div class="p-b-5">
          @if(listaSecciones().length > 0){
          <div class="table-containe table-reponsive">
            <div class="table-search p-0">
              <mat-form-field appearance="outline" class="w-100">
                <input (keyup)="applyFilter($event)" matInput placeholder="Buscar seccion..." #input />
              </mat-form-field>
            </div>
    
            <div class="table-responsive">
              <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <ng-container matColumnDef="seccion">
                  <th mat-header-cell *matHeaderCellDef> Seccion </th>
                  <td mat-cell *matCellDef="let seccion" class="text-nowrap"> {{ seccion.nombreSeccion }} </td>
                </ng-container>
    
                <ng-container matColumnDef="discapacidad">
                  <th mat-header-cell *matHeaderCellDef> Discapacidad </th>
                  <td mat-cell *matCellDef="let seccion">
                    @if(seccion.discapacidad){<mat-icon class="bg-green-200 border-round text-green-700">check</mat-icon>}
                    @else {<mat-icon class="bg-red-200 border-round text-red-700">close</mat-icon>}
                  </td>
                </ng-container>
    
                <ng-container matColumnDef="vacantes">
                  <th mat-header-cell *matHeaderCellDef> Vacantes </th>
                  <td mat-cell *matCellDef="let seccion"> {{seccion.nVacantes}} </td>
                </ng-container>
    
                <ng-container matColumnDef="observacion">
                  <th mat-header-cell *matHeaderCellDef> Observacion </th>
                  <td mat-cell *matCellDef="let seccion"> {{ seccion.detalleObservacion }} </td>
                </ng-container>
    
                <ng-container matColumnDef="nombre_formato">
                  <th mat-header-cell *matHeaderCellDef> Formato </th>
                  <td mat-cell *matCellDef="let seccion">
                      <div class="bg-blue-200 text-blue-800 border-round font-medium mb-2"><span class="m-2"> TEORÍA:  {{ seccion.descripcionFormatoTeoria }} </span></div>
                      <div class="bg-green-200 text-green-800 border-round font-medium"><span class="m-2"> PRÁCTICA: {{ seccion.nombreFormatoPractica }} </span></div>
                  </td>
                </ng-container>
    
                <ng-container matColumnDef="tipoAmbiente">
                  <th mat-header-cell *matHeaderCellDef> Ambientes </th>
                  <td mat-cell *matCellDef="let seccion">
                      <div class="bg-blue-200 text-blue-800 border-round font-medium mb-2"><span class="m-2"> TEORÍA:  {{ seccion.nombreAmbienteTeoria }} </span></div>
                      <div class="bg-green-200 text-green-800 border-round font-medium"><span class="m-2"> PRÁCTICA: {{ seccion.nombreAmbientePractica }} </span></div>
                  </td>
                </ng-container>
    
                <ng-container matColumnDef="n_grupos">
                  <th mat-header-cell *matHeaderCellDef> Nª GRUPOS </th>
                  <td mat-cell *matCellDef="let seccion">
                    {{ seccion.numeroGrupos }}            
                  </td>
                </ng-container>
    
    
                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef class="text-center"> Acción </th>
                  <td mat-cell *matCellDef="let seccion">
                    <div class="text-center text-nowrap">
                      <ul class="list-inline p-l-0">
                        <li class="list-inline-item m-r-2" matTooltip="Editar Seccion" (click)="openShowFormEditSeccion(seccion, 'Open')">
                          <a href="javascript:" class="avatar avatar-xs text-muted">
                            <i class="ti ti-pencil f-18"></i>
                          </a>
                        </li>
    
                        <li class="list-inline-item m-r-10" matTooltip="Eliminar Seccion" (click)="eliminarSeccionConfirm(seccion)">
                          <a href="javascript:" class="avatar avatar-xs text-muted">
                            <i class="ti ti-trash f-18"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </td>
                </ng-container>
    
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    
                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell" colspan="4">No se encuentra el resultado a: "{{ input.value }}"</td>
                </tr>
              </table>
            </div>
          </div>
          }
          @else{
          <ui-card-not-items></ui-card-not-items>
          }
        </div>
    
      </app-card>
    }
    @else {
      <ui-loading-progress-bar></ui-loading-progress-bar>
    }
    </div>
    <mat-card-actions align="end">
      <ui-button color="secondary" label="Cancelar" mat-dialog-close="cancelar" class="m-r-10"></ui-button>
    </mat-card-actions>
  }
