@keyframes ldio-yzaezf3dcmj-o {
    0%    { opacity: 1; transform: translate(0 0) }
   49.99% { opacity: 1; transform: translate(26.52px,0) }
   50%    { opacity: 0; transform: translate(26.52px,0) }
  100%    { opacity: 0; transform: translate(0,0) }
}
@keyframes ldio-yzaezf3dcmj {
    0% { transform: translate(0,0) }
   50% { transform: translate(26.52px,0) }
  100% { transform: translate(0,0) }
}
.ldio-yzaezf3dcmj div {
  position: absolute;
  width: 26.52px;
  height: 26.52px;
  border-radius: 50%;
  top: 97.24px;
  left: 83.98px;
}
.ldio-yzaezf3dcmj div:nth-child(1) {
  background: #ce1126;
  animation: ldio-yzaezf3dcmj 1s linear infinite;
  animation-delay: -0.5s;
}
.ldio-yzaezf3dcmj div:nth-child(2) {
  background: #3b82f6;
  animation: ldio-yzaezf3dcmj 1s linear infinite;
  animation-delay: 0s;
}
.ldio-yzaezf3dcmj div:nth-child(3) {
  background: #ce1126;
  animation: ldio-yzaezf3dcmj-o 1s linear infinite;
  animation-delay: -0.5s;
}
.loadingio-spinner-dual-ball-2by998twmg8 {
  width: 221px;
  height: 221px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-yzaezf3dcmj {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-yzaezf3dcmj div { box-sizing: content-box; }
/* [ldio] generated by https://loading.io */


.loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    //   background: radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0, .8));
  
    background: -webkit-radial-gradient(rgb(255 255 255 / 57%), rgb(255 255 255));
}

.loading {
    position: fixed;
    display: block;
    top: 30%;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    z-index: 99;
}
