
@if (!loading) {
<mat-dialog-content class="criterios-container">

  @if (formCriterios) {
    <form [formGroup]="formCriterios">

      @for (c of criterioList(); track $index) {

        <mat-card class="criterio-card">

          <div class="criterio-header">
            <div class="criterio-title">
              <mat-icon class="icon">assignment</mat-icon>
              {{ c.detalleVerificar }}
            </div>

            @if(c.obligatorio) {
              <span class="badge badge-obligatorio">Obligatorio</span>
            } @else {
              <span class="badge badge-opcional">Opcional</span>
            }
          </div>

          <div class="criterio-upload">
            <app-ui-upload-file></app-ui-upload-file>
          </div>

        </mat-card>

      }

    </form>
  }
  
</mat-dialog-content>


<mat-dialog-actions align="end">
    <ui-button color="secondary" label="Cancelar" mat-dialog-close="cancelar" class="m-r-10"></ui-button>
    <ui-button color="secondary" label="Guardar" class="m-r-10"></ui-button>
</mat-dialog-actions>
}
@else {
<ui-loading-progress-bar></ui-loading-progress-bar>
}