@if(!loading){
    <mat-card>
        <mat-card-content>
            <div>
                <form [formGroup]="formAmbiente">
                    <div class="flex gap-8">
                        <div>
                            <mat-slide-toggle formControlName="discapacidad">
                                <span class="border-round font-bold p-2 ml-4" [ngClass]="{'bg-red-200 text-red-700': !formAmbiente.get('discapacidad')?.value
                                ,'bg-green-200 text-green-700': formAmbiente.get('discapacidad')?.value
                            }">DISCAPACIDAD</span>
                            </mat-slide-toggle>
                        </div>
                        <ui-input class="w-full" label="Nombre" formControlName="nombre" [minlength]="minLengthNombre" [maxlength]="maxLengthNombre"></ui-input>
                    </div>
                    <!-- @if(ambienteSelected().idAmbiente !== 0){ -->
                        <ui-input class="w-full" label="Descripcion" formControlName="descripcion" [readonly]="true" [maxlength]="maxLenghtDescripcion"></ui-input>
                    <!-- } -->
                   <div class="flex justify-content-between gap-2">
                        <ui-input class="w-full" label="Pabellón" formControlName="pabellon" [maxlength]="maxLengthPabellon" [minlength]="minLengthPabellon" [expReg]="expRegPabellonToLockInput" ></ui-input>
                        <ui-input class="w-full" label="Nivel" formControlName="nivel" [maxlength]="maxLengthNivel" [min]="minNivel" [expReg]="expRegNivelToLockInput" ></ui-input>
                        <ui-input class="w-full" label="Aforo" formControlName="aforo" [maxlength]="maxLengthAforo" [min]="minAforo" [expReg]="expRegAforoToLockInput"></ui-input>
                   </div>
    
                   @if(ambienteSelected().idAmbiente == 0){
                    <div class="flex gap-2">
                        <mat-form-field class="w-full pb-2">
                            <mat-label>FORMATO</mat-label>
                            <mat-select (selectionChange)="seleccionarFormato($event)" formControlName="formato">
                                @for (formato of listaFormato(); track formato) {
                                <mat-option [value]="formato.idFormato">
                                    {{ formato.nombreFormato }}
                                </mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
            
                        <mat-form-field class="w-full">
                            <mat-label>Tipo de Ambiente</mat-label>
                            <mat-select [formControl]="formSelectedTipo" multiple
                                (selectionChange)="updateSelectedTipo()" #select>
                                <mat-select-trigger>
                                    {{''}}
                                </mat-select-trigger>
                                @for (option of listarTipoAmbiente(); track option) {
                                <mat-option [value]="option"
                                [disabled]="isTipoAmbienteDisabled(option)">
                                    {{ option.nombreTipoAmbiente }}
                                </mat-option>
                                }
                            </mat-select>
                            @for (tipoSeleccionado of selectedChips; track $index) {
                            <mat-chip removable="true" (removed)="removerTipoAmbienteSeleccionado(tipoSeleccionado)">
                                {{ tipoSeleccionado.nombreTipoAmbiente }}
                                <mat-icon matChipRemove>cancel</mat-icon>
                            </mat-chip>
                            }
                        </mat-form-field>
                       </div>
                   }
                </form>
            </div>
        </mat-card-content>
    
        <mat-card-actions align="end">
            <ui-button color="primary" label="Guardar" [disabled]="formAmbiente.invalid" class="m-r-10" (onClick)="onSubmit()"></ui-button>
            <ui-button color="secondary" label="Cancelar" mat-dialog-close="cancelar" class="m-r-10"></ui-button>
        </mat-card-actions>
    </mat-card>
} @else {
    <ui-loading-progress-bar></ui-loading-progress-bar>
}
