<!-- <mat-select class="w-8rem" value="All">
    @for (semestre of semestresAcademicos(); track semestre) {
        <mat-option [value]="semestre.codigo">{{ semestre.codigo }}</mat-option>
    }
    <mat-option value="new">Nuevo Semestre</mat-option>
</mat-select> -->
<div class="flex justify-content-end">
    <ui-button class="my-2" color="primary" [label]="semestreSelect().id == 0 ? 'Seleccionar Semestre' : semestreSelect().codigo" (click)="openModalSemestre()"></ui-button>
</div>

<!-- <ng-template #template1>
    <semestre-academico-page></semestre-academico-page>
    <semestre-list></semestre-list>
</ng-template> -->

@if ( semestreSelect().id == 0 ) {
    <ui-card-not-items text="DEBE SELECCIONAR UN SEMESTRE"></ui-card-not-items>
}

