<app-card [showHeader]="false" [padding]="16">
    <div class="title align-item-center">
        <ul class="list-inline mb-3">
            <li class="list-inline-item">
                <div class="flex align-item-center gap-2">
                    <div class="w-3rem">
                        Para:
                    </div>
                    <img src="assets/images/user/avatar-1.png" alt="user-image" class="img-user wid-40 border-50" />
                    <div class="flex-grow-1">
                        <div class="f-14 f-w-600 text-truncate capitalize">{{ paraRolNombreArea.toLocaleLowerCase() }}</div>
                        <div class="f-12 m-b-0 text-muted mat-small capitalize"> {{ paraRolNombrePersona.toLocaleLowerCase() }} </div> <!--To:  &lt;tazeanu&#64;company.com&gt; -->
                    </div>
                </div>
            </li>
        </ul>
        <mat-divider></mat-divider>
        <ul class="list-inline mt-3">
            <li class="list-inline-item">
                <div class="flex align-item-start gap-2">
                    <div class="w-3rem">
                        Asunto:
                    </div>
                    <div class="flex-grow-1 m-l-5">
                        <div class="f-14 f-w-600 uppercase"> {{ asunto.toLocaleLowerCase() }} </div>
                        <!-- <div class="m-b-0 text-muted mat-small"> From: &lt;tazeanu&#64;company.com&gt; </div> -->
                    </div>
                </div>
              
            </li>
        </ul>
    </div>
</app-card>
<!-- <quill-editor class="w-100 h-10rem">
    <div quill-editor-toolbar>
      <span class="ql-formats">
        <select class="ql-header" [title]="'header'">
          <option value="1"></option>
          <option value="2"></option>
          <option value="3"></option>
          <option value="4"></option>
          <option value="5"></option>
          <option value="6"></option>
          <option selected="selected"></option>
        </select>
      </span>
      <span class="ql-formats">
        <button class="ql-bold" [title]="'Bold'"></button>
        <button class="ql-italic" [title]="'Italic'"></button>
        <button class="ql-underline" [title]="'Italic'"></button>
        <button class="ql-italic" [title]="'strike'"></button>
        <button class="ql-link" [title]="'link'"></button>
        <button class="ql-image" [title]="'image'"></button>
        <button class="ql-color" [title]="'color'"></button>
        <button class="ql-background" [title]="'background'"></button>
      </span>
      <span class="ql-formats">
        <button class="ql-list" value="ordered"></button>
        <button class="ql-list" value="bullet"></button>
      </span>
      <span class="ql-formats">
        <button class="ql-clean"></button>
      </span>
      <span class="ql-formats">
        <button class="ql-clean"></button>
      </span>
    </div>
</quill-editor> -->
<!-- {{ mensaje | json }} -->
<quill-editor class="w-100 h-13rem bg-white" placeholder="" [(ngModel)]="mensaje"></quill-editor>

<ui-button
    label="Enviar"
    tooltip="Enviar mensaje"
    color="primary"
    class="absolute right-0 bottom-0 mb-8"
    (click)="enviarConfirm()"
    >

</ui-button>