<!-- {{ buscador() }}
{{ formBuscador.value.buscador }} -->
 <!-- {{ filtroSelect() }} {{ 'Filtro:' +  filtro }} -->
<div class="flex justify-content-between align-item-center w-full mt-2">
    <div class="flex-1 mr-4" [formGroup]="formBuscador">
      <input class="w-full h-2rem pl-3 border-1 border-gray-300 py-2 border-round" formControlName="buscador" placeholder="Buscador...." (input)="buscar()" #btnBuscar/>
    </div>
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [value]="filtro" (valueChange)="select( $event )">
        <mat-button-toggle matTooltip="Buscar" value="search" ><i class="ti ti-search text-blue-700 f-20"></i></mat-button-toggle>
        <mat-button-toggle matTooltip="Observaciones pendientes" value="pendiente"><i class="ti ti-alert-circle text-red-700 f-20"></i></mat-button-toggle>
        <mat-button-toggle matTooltip="Observaciones resueltas" value="resuelto"><i class="ti ti-replace text-yellow-700 f-20"></i></mat-button-toggle>
        <mat-button-toggle matTooltip="Observaciones con cierre forzado" value="cierreForzado"><i class="ti ti-circle-x f-20 text-red-500"></i></mat-button-toggle>
        <mat-button-toggle matTooltip="Observaciones conformes" value="conforme"><i class="ti ti-circle-check text-green-700 f-20"></i></mat-button-toggle>
      </mat-button-toggle-group>
</div>