<!-- @if (!loading) { -->
<!-- {{ tiposDeAmbiente | json }} -->
<!-- <pre> {{ listarAmbiente() | json }} </pre> -->
@if(!loadingImport()){
@if (listarAmbiente().length == 0) {
<div
    class="flex gap-2 border-round border-1 border-dashed bg-gray-100 w-full h-15rem justify-content-center align-items-center border-gray-400 hover:bg-blue-50 hover:border-blue-500 hover:text-blue-500">
    <h5 class="text-center absolute mt-8 pt-4 f-14 font-italic">No hay ambientes aperturados, haga click en el botón
        para importar los ambientes que desee aperturar</h5>
    <span class="boton-parpadeante bg-blue-500 h-3rem w-10rem border-round absolute"></span>
    <ui-button color="blue" icon="ti ti-save f-16" (onClick)="modalImportarAmbiente(templateAmbienteImport)">Aperturar
        Ambientes</ui-button>
</div>
}
@else {
<div class="p-b-5">
    <div class="table-container table-reponsive">

        <div class="table-responsive">
            <div class="flex justify-content-between align-items-center w-full">
                <!-- Contenedor para el formulario -->
                <div class="flex w-1rem mt-2">
                    <!-- <form [formGroup]="filterForm" class="flex">
                        <div class="flex gap-1">
                            <mat-form-field appearance="outline" class="w-10rem">
                                <mat-label>Discapacidad</mat-label>
                                <mat-select formControlName="discapacidad" multiple>
                                    <mat-option [value]="null">Todos</mat-option>
                                    <mat-option [value]="true">Sí</mat-option>
                                    <mat-option [value]="false">No</mat-option>
                                </mat-select>
                            </mat-form-field>
            
                            <mat-form-field appearance="outline" class="w-10rem">
                                <mat-label>Tipo de Ambiente</mat-label>
                                <mat-select formControlName="tipoDeAmbiente">
                                    <mat-option [value]="null">Todos</mat-option>
                                    <mat-option *ngFor="let tipo of tiposDeAmbiente" [value]="tipo">{{ tipo }}</mat-option>
                                </mat-select>
                            </mat-form-field>
            
                            <mat-form-field appearance="outline" class="w-10rem">
                                <mat-label>Pabellón</mat-label>
                                <mat-select formControlName="nombrePabellon">
                                    <mat-option [value]="null">Todos</mat-option>
                                    <mat-option *ngFor="let pabellon of pabellones" [value]="pabellon">{{ pabellon }}</mat-option>
                                </mat-select>
                            </mat-form-field>
            
                            <mat-form-field appearance="outline" class="w-10rem">
                                <mat-label>Nivel</mat-label>
                                <mat-select formControlName="nivelAmbiente">
                                    <mat-option [value]="null">Todos</mat-option>
                                    <mat-option *ngFor="let nivel of niveles" [value]="nivel">{{ nivel }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </form> -->
                </div>
            
                <!-- Contenedor para los botones y el componente PDF -->
                <div class="flex align-items-center gap-2">
                    <app-export-pdf-ambiente></app-export-pdf-ambiente>
                    <ui-button color="primary" icon="ti ti-plus"
                        (onClick)="modalAddAmbiente(agregarAmbiente,'Crear', ambienteSelected())" tooltip="Agregar Curso">
                    </ui-button>
                    <ui-button color="red" icon="ti ti-trash"
                        (onClick)="eliminarAmbienteConfirm(listarAmbiente())" tooltip="Eliminar Ambientes">
                    </ui-button>
                </div>
            </div>
            
            <table mat-table [dataSource]="dataSourceAmbiente">
                <!-- <ng-container matColumnDef="codigo">
                             <th mat-header-cell *matHeaderCellDef> Código </th>
                             <td mat-cell *matCellDef="let ambiente" class="text-nowrap">{{ ambiente | json }}  {{ 'A000'+ ambiente.idAperturaAmbiente }} </td>
                         </ng-container> -->

                <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef> Nombre </th>
                    <td mat-cell *matCellDef="let ambiente" class="text-nowrap"> {{ ambiente.nombreAmbiente }} </td>
                </ng-container>

                <ng-container matColumnDef="pabellon">
                    <th mat-header-cell *matHeaderCellDef> Pabellón </th>
                    <td mat-cell *matCellDef="let ambiente" class="text-nowrap"> {{ ambiente.nombrePabellon }} </td>
                </ng-container>

                <ng-container matColumnDef="nivel">
                    <th mat-header-cell *matHeaderCellDef> Nivel </th>
                    <td mat-cell *matCellDef="let ambiente" class="text-nowrap"> {{ ambiente.nivelAmbiente }} </td>
                </ng-container>

                <ng-container matColumnDef="tipoAmbiente">
                    <th mat-header-cell *matHeaderCellDef> Tipo de Ambiente </th>
                    <td mat-cell *matCellDef="let ambiente" class="text-nowrap"> {{ ambiente.tipoDeAmbiente }} </td>
                </ng-container>

                <ng-container matColumnDef="aforo">
                    <th mat-header-cell *matHeaderCellDef> Aforo </th>
                    <td mat-cell *matCellDef="let ambiente" class="text-nowrap"> {{ ambiente.aforo }} </td>
                </ng-container>

                <ng-container matColumnDef="discapacidad">
                    <th mat-header-cell *matHeaderCellDef> Discapacidad </th>
                    <td mat-cell *matCellDef="let ambiente" class="text-nowrap">
                        @if(ambiente.discapacidad){<mat-icon
                            class="bg-green-200 border-round text-green-700">check</mat-icon>}
                        @else {<mat-icon class="bg-red-200 border-round text-red-700">close</mat-icon>}
                    </td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> Acción </th>
                    <td mat-cell *matCellDef="let ambiente">
                        <div class="text-center text-nowrap">
                            <ul class="list-inline p-l-0">
                                <li class="list-inline-item m-r-2" matTooltip="Editar Ambiente"
                                    (click)="modalAddAmbiente(agregarAmbiente, 'Editar',ambiente)">
                                    <a href="javascript:" class="avatar avatar-xs text-muted">
                                        <i class="ti ti-pencil f-18"></i>
                                    </a>
                                </li>

                                <li class="list-inline-item m-r-10" matTooltip="Eliminar Ambiente"
                                    (click)="eliminarAmbienteConfirm(ambiente)">
                                    <a href="javascript:" class="avatar avatar-xs text-muted">
                                        <i class="ti ti-trash f-18"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

                <tr class="mat-row" *matNoDataRow>
                    <!-- <td class="mat-cell" colspan="4">No se encuentra el resultado a: "{{ input.value }}"</td> -->
                </tr>
            </table>
        </div>
    </div>
</div>
}
}

@else {
<ui-loading-progress-bar></ui-loading-progress-bar>
}

<ng-template #templateAmbienteImport>
    <mat-dialog-content>
        <app-ambiente-import-template></app-ambiente-import-template>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <ui-button color="secondary" label="Cancelar" mat-dialog-close="cancelar" class="m-r-10"></ui-button>
        <ui-button color="primary" label="Importar" (onClick)="guardarCursosImport()"
            [disabled]="file().files.length == 0 && listarAmbienteAnterior().length == 0"></ui-button>
    </mat-dialog-actions>
</ng-template>

<ng-template #agregarAmbiente>
    <app-ambiente-add></app-ambiente-add>
</ng-template>