@if (loading) {
<ui-loading-progress-bar></ui-loading-progress-bar>
}
@else {
<p-dialog [(visible)]="visible" [modal]="true" [style]="{ width: '100rem' }" (onHide)="close()" [maximizable]="true">

    <ng-template #header>
        <div class="inline-flex items-center justify-center gap-2">
            <span class="font-bold whitespace-nowrap"> Clonar Solicitud </span>
        </div>
    </ng-template>

    <!-- <pre> {{tablaSolicitudCompra | json}} </pre> -->
    <!-- <pre> {{totalPresupuestoProgramado() | json}} </pre> -->
    <!-- <pre> {{clonados | json}} </pre> -->
    <div class="grid">
        <div class="col-5 md:5">
            <div cdkDropList id="solicitudesList" [cdkDropListData]="tablaSolicitudCompra"
                [cdkDropListConnectedTo]="['clonadorList']" class="flex flex-column">

                <p-table [scrollable]="true" scrollHeight="500px" #dt1 [value]="tablaSolicitudCompra"
                    dataKey="idSolicitudCompraDetalle" [paginator]="true" [rows]="10"
                    [rowsPerPageOptions]="[5,10,20,50]"
                    [globalFilterFields]="['descripcionDelBien','nombreProveedor','ruc','cantidad']"
                    rowGroupMode="subheader" sortField="proveedor" groupRowsBy="proveedor" sortMode="single">

                    <ng-template #groupheader let-rowData>
                        <tr pRowGroupHeader class="bg-blue-50">
                            <td colspan="7">

                                <div class="flex align-items-center gap-3" cdkDrag
                                    [cdkDragDisabled]="isProveedorBloqueado(rowData.proveedor)"
                                    [cdkDragData]="rowData.proveedor">

                                    <i class="pi pi-bars text-lg text-500 cursor-move" cdkDragHandle>
                                    </i>
                                    <div *cdkDragPreview class="drag-preview">
                                        {{ rowData.proveedor }}
                                    </div>

                                    <span class="font-semibold text-xs">
                                        {{ rowData.proveedor }}
                                    </span>

                                    <div class="bg-blue-100 text-blue-800 border-round px-2 py-1 text-xs">
                                        <span>RUC: {{ rowData.ruc }}</span>
                                    </div>

                                    @if(isProveedorBloqueado(rowData.proveedor)){
                                    <span class="text-red-500 text-sm font-semibold">
                                        Tiene productos con orden de compra
                                    </span>
                                    }

                                </div>

                            </td>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="header">
                        <tr>
                            <th class="text-xs">Cantidad</th>
                            <th class="text-xs">Unidad Medida</th>
                            <th class="text-xs">Producto o Servicio</th>
                            <th class="text-xs">Precio Unitario</th>
                            <th class="text-xs">Precio Total</th>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-row>
                        <tr [ngClass]="{ 'bg-green-50': row.ordenCompra, 'bg-red-50': !row.ordenCompra}">
                            <td class="text-xs">{{row.cantidad}}</td>
                            <td class="text-xs">{{row.unidad}}</td>
                            <td class="text-xs">{{ row.productoNombre }}</td>

                            <td class="text-xs">S/ {{row.precio}}</td>
                            <td class="text-xs">S/ {{ row.precioTotal || (row.precio * row.cantidad) }}</td>
                        </tr>
                    </ng-template>

                </p-table>

            </div>
        </div>

        <div class="col-7 md:7">

            <div class="flex flex-column h-full">

                <div cdkDropList id="clonadorList" [cdkDropListConnectedTo]="['solicitudesList']"
                    [cdkDropListDisabled]="clonados.length > 0" (cdkDropListDropped)="drop($event)"
                    class="flex flex-column flex-1">

                    @if (clonados.length === 0) {

                    <div class="flex flex-column align-items-center justify-content-center gap-3
                            border-2 border-dashed border-300 border-round
                            bg-blue-50 text-center p-5" style="min-height:400px">

                        <i class="pi pi-clone text-6xl text-blue-400"></i>

                        <span class="text-xl font-semibold">
                            Arrastre aquí el proveedor
                        </span>

                        <span class="text-color-secondary">
                            Suelte el proveedor para clonar los productos
                        </span>

                    </div>

                    }
                    @if (clonados.length > 0) {

                    <p-table [value]="clonados" dataKey="idTemp" rowGroupMode="subheader" groupField="proveedor"
                        [sortField]="'proveedor'" sortMode="single" [paginator]="true" [rows]="10"
                        [rowsPerPageOptions]="[5,10,20,50]" [editMode]="'cell'">
                        <ng-template #groupheader let-rowData>
                            <tr class="bg-blue-50">
                                <td colspan="6">
                                    <div class="flex align-items-center gap-3 text-xs">
                                        <strong>{{ rowData.proveedor }}</strong>
                                        
                                        <div class="bg-blue-100 text-blue-800 border-round px-2 py-1 text-xs">
                                            RUC: {{ rowData.ruc }}
                                        </div>
                                        @if (clonadosBajoStock() > 0) {
                                        <div
                                            class="flex align-items-center bg-red-100 text-red-700 px-3 py-1 border-round-2xl gap-2 animation-pulse">
                                            <i class="pi pi-exclamation-triangle"></i>
                                            <span class="text-xs font-bold">{{ clonadosBajoStock() }} productos bajo stock mínimo</span>
                                        </div>
                                        }
                                    </div>
                                </td>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="header">
                            <tr>
                                <th class="text-xs">Cantidad</th>
                                <th class="text-xs">Producto</th>
                                <th class="text-xs">Stock Actual</th>
                                <th class="text-xs">Stock Mínimo</th>
                                <th class="text-xs">Precio Unitario</th>
                                <th class="text-xs">Precio Total</th>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="body" let-row>
                            <tr>
                                <td pEditableColumn class="text-xs">
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <p-inputNumber [(ngModel)]="row.cantidad" [min]="1"
                                                (onInput)="calcularTotalClonados()"></p-inputNumber>
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{ row.cantidad }}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td class="text-xs">{{ row.productoNombre }}</td>
                                <td class="text-center">
                                    <span
                                        class="flex align-items-center justify-content-center border-round font-semibold text-xs"
                                         [ngClass]="{'bg-green-100 text-green-700': row.stock > row.stockMinimo,
                                                    'bg-yellow-100 text-yellow-700' : row.stock == row.stockMinimo,
                                                    'bg-red-100 text-red-700': row.stock < row.stockMinimo}">
                                        {{ row.stock <= 0 ? 'Sin Stock' : row.stock }}
                                    </span>
                                </td>

                                <td class="text-center">
                                    <span class="text-xs text-800">
                                        {{ row.stockMinimo }}
                                    </span>
                                </td>

                                <td pEditableColumn class="text-xs">
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <p-inputNumber [(ngModel)]="row.precio" [min]="0"
                                                (onInput)="calcularTotalClonados()" mode="decimal"
                                                [minFractionDigits]="2" [maxFractionDigits]="2"></p-inputNumber>
                                        </ng-template>

                                        <ng-template pTemplate="output">
                                            S/ {{ row.precio | number:'1.2-2' }}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>

                                <td class="text-xs">
                                    S/ {{ (row.precio * row.cantidad) | number:'1.2-2' }}
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>

                    <div class="flex justify-content-end mt-3">

                        <div class="border-round bg-blue-50 p-3 flex flex-column gap-2">

                            <div class="flex justify-content-between gap-5 text-xs">
                                <span class="font-semibold">Presupuesto Programado</span>
                                <span class="text-blue-600 font-bold">
                                    S/ {{ totalPresupuestoProgramado() | number:'1.2-2' }}
                                </span>
                            </div>

                            <div class="flex justify-content-between gap-5 text-xs">
                                <span class="font-semibold">Total Orden</span>
                                <span class="font-bold" [ngClass]="{'text-green-600': totalPrecioClonados <= totalPresupuestoProgramado(),
                                    'text-red-600': totalPrecioClonados > totalPresupuestoProgramado()}">
                                    S/ {{ totalPrecioClonados | number:'1.2-2' }}
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="flex justify-content-end mt-4 text-xs">
                        <ui-button label="Guardar Orden De Compra" icon="pi pi-save"
                            (onClick)="validarProductoPorAlmacen()"
                            [disabled]="totalPrecioClonados > totalPresupuestoProgramado() || hayFilasInvalidas()">
                        </ui-button>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</p-dialog>
}
@if (mostrarPdfOrdenCompra) {
<app-pdf-orden-compra [(visible)]="mostrarPdfOrdenCompra" [modo]="'GENERAR'"></app-pdf-orden-compra>
}