@if(!loading){
<app-card headerClassTemplate="py-10 flex justify-content-between align-item-center w-full">
    <ng-template #headerTitleTemplate>
        <div>LISTAR VALIDACIÓN DE HORARIO </div>
    </ng-template>
    <div class="">
        <div class="table-containe table-reponsive">
            <div class="table-search pb-2">
                <div
                    class="flex gap-2 border-round border-1 border-dashed bg-gray-100 w-full h-2rem justify-content-center align-items-center border-gray-400">
                    <h5 class="text-center absolute pt-3 f-14 font-bold text-red-800">TIENE {{ cantidadNE }} SECCIONES
                        QUE NO CUENTAN CON DOCENTE ASIGNADOS </h5>
                </div>
            </div>

            <div class="table-responsive">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                    <ng-container matColumnDef="programaAcademico">
                        <th mat-header-cell *matHeaderCellDef> Programa Académico </th>
                        <td mat-cell *matCellDef="let validar" class="text-nowrap"> {{ validar.nombreProgramaAcademico
                            }} </td>
                    </ng-container>
                    <ng-container matColumnDef="descripcionCurso">
                        <th mat-header-cell *matHeaderCellDef> Descripción Curso </th>
                        <td mat-cell *matCellDef="let validar" class="text-nowrap"> {{ validar.descripcionCurso }} </td>
                    </ng-container>
                    <ng-container matColumnDef="seccion">
                        <th mat-header-cell *matHeaderCellDef> Seccion </th>
                        <td mat-cell *matCellDef="let validar" class="text-nowrap"> {{ validar.descripcionSeccion }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="posibleDocente">
                        <th mat-header-cell *matHeaderCellDef> Posible Docente </th>
                        <td mat-cell *matCellDef="let validar" class="text-nowrap">
                            @if( validar.posibleDocente === 'NE'){
                            SIN DOCENTE
                            }
                            @else {
                            {{ validar.posibleDocente }}
                            }
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns"
                        [ngClass]="{'bg-red-100': row.posibleDocente === 'NE', 'bg-green-100': row.posibleDocente !== 'NE'}">
                    </tr>

                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">No se encuentra el resultado a: "{{ input.value }}"</td>
                    </tr>
                </table>
                <mat-paginator [pageSizeOptions]="[50, 100, 150,200]" aria-label="Select page of users"></mat-paginator>
            </div>
        </div>
    </div>
</app-card>
} @else {
<ui-loading-progress-bar></ui-loading-progress-bar>
}