<app-card [cardTitle]="itemToEdit ? 'Editar ' : 'Crear ' + entidad" padding="0" cardClass="customer-edit-card m-b-0" headerClass="p-15" actionClass="card-footer block">
    <ng-template #headerOptionsTemplate>
        <a class="avatar avatar-s customer-edit-header" mat-dialog-close>
          <i class="ti ti-x f-20"></i>
        </a>
    </ng-template>
    <ng-scrollbar style="height: 210px" visibility="hover">

      <!-- <div class="flex"> -->
        <form [formGroup]="formSemestre" class="m-3">
          <div class="flex gap-3">
            <ui-input class="w-full" label="Nombre" formControlName="nombre" [maxlength]="maxLengthNombre" [minlength]="minLengthNombre" [expReg]="expRegNombreToLockInput"></ui-input>
          </div>
          <div class="flex gap-3">
            <ui-input class="" label="Codigo" formControlName="codigo" [maxlength]="maxLengthCodigo" [minlength]="minLengthCodigo" [expReg]='expRegCodigoToLockInput'></ui-input>
            <!-- <ui-input-fecha-range class="w-full" label="Fecha Inicio" formControlName="fechaInicio" formControlName="fechaFin"></ui-input-fecha-range> -->

            <!-- <ui-input-fecha class="w-full" label="Fecha Inicio" formControlName="fechaInicio"></ui-input-fecha>
            <ui-input-fecha class="w-full" label="Fecha Fin" formControlName="fechaFin"></ui-input-fecha> -->

            <mat-form-field class="w-full m-t-5" appearance="outline">
              <mat-label>Seleccione el rango de fecha</mat-label>
              <mat-date-range-input [rangePicker]="picker">
                  <input readonly matStartDate formControlName="fechaInicio" placeholder="Fecha Inicio" (click)="picker.open()" >
                  <input readonly matEndDate formControlName="fechaFin" placeholder="Fecha Fin" (click)="picker.open()" (dateChange)="onDateChanged($event, 'fechaFin')">
              </mat-date-range-input>
              <mat-hint>Fecha Inicio – Fecha Fin</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
  
              <mat-error *ngIf="formSemestre.get('fechaInicio')?.hasError('required')">Fecha de <b>INICIO</b> incompleto</mat-error>
              <mat-error *ngIf="formSemestre.get('fechaFin')?.hasError('required')">Fecha de <b>FIN</b> incompleto</mat-error>
            </mat-form-field>

          </div>
          

        </form>

        <!-- <pre>{{ formSemestre.value | json}}</pre> -->
      <!-- </div> -->

        
    </ng-scrollbar>
    <ng-template #actionTemplate>
      <div class="flex align-item-center justify-content-between">
        <!-- <a href="javascript:" class="avatar avatar-s text-warn-500">
          <i class="ti ti-trash f-18"></i>
        </a> -->
        <div class="flex-grow-1 text-end">
          <!-- <button mat-button mat-dialog-close="cancelar" class="m-r-10">Cancelar</button> -->
          <!-- <button mat-flat-button color="primary">{{ itemToEdit ? 'Editar' : 'Crear'}}</button> -->
          <ui-button color="secondary" label="Cancelar" mat-dialog-close="cancelar" class="m-r-10"></ui-button>
          <ui-button color="primary" [label]="itemToEdit ? 'Editar' : 'Crear'" [disabled]="formSemestre.invalid" (click)="onSubmit()"></ui-button>
          <!-- <input type="submit" mat-flat-button color="primary" value="Crear"> -->
        </div>
      </div>
    </ng-template>