:host {
    ::ng-deep .p-timeline.p-timeline-vertical .p-timeline-event-connector {
        width: 2px;
    }
    ::ng-deep .p-timeline .p-timeline-event-connector {
        background-color: #e5e7eb;
    }
    
    ::ng-deep .p-timeline-event-connector {
        flex-grow: 1;
    }
}

.myAnim {
    animation: myAnim 1.5s ease 1.5s infinite normal forwards;
}



@keyframes myAnim {
	0% {
		opacity: 0.8;
		transform: scale(0.2);
	}

	80% {
		opacity: 0;
		transform: scale(1.2);
	}

	100% {
		opacity: 0;
		transform: scale(2.2);
	}
}

.circulo {
	width: 60px;
	height: 60px;
}