<mat-dialog-content>
    <form [formGroup]="formObservar">
        <div class="row">
            <div class="col-6">
                <ui-select
                    
                    label="Seleccione una categoría"
                    class="w-full"
                    [options]="categoriaSelectedOptions()"
                    formControlName="categoria"
                    (selectionChange)="seleccionarSubCategoria( $event.value )"
                    >
                </ui-select>
            </div>
            
            @if ( formObservar.value.categoria != '' && subCategoriaSelectedOptions().length == 0 ) {
                <div class="col-6">
                    <ui-select
                        label="Seleccione una sub categoría"
                        class="w-full"
                        [readonly]="subCategoriaSelectedOptions().length == 0"
                        [options]="[{text:'No hay sub categorías', value: 0, disabled: true}]"
                        formControlName="subCategoria"
                    >
                    </ui-select>
                </div>
                <div class="col-12">
                    <ui-alert type="info">
                        La categoría {{ formObservar.value.categoria.text }} no tiene una subcategoría asignada. Por favor, comuníquese con el área de control interno para que agregue una subcategoría adecuada que satisfaga la observación que deseas agregar.
                    </ui-alert>
                    <!-- <div class="bg-cyan-200 text-blue-700 px-4 py-3 border-round text-justify shadow-4"><b><i class="ti ti-alert-circle f-20 vertical-align-middle"></i> Importante: </b>La categoría {{ formObservar.value.categoria.text }} no tiene una subcategoría asignada. Por favor, comuníquese con el área de control interno para que agregue una subcategoría adecuada que satisfaga la observación que deseas agregar.</div> -->
                </div>
            } @else {
                <div class="col-6">
                    <ui-select
                        
                        label="Seleccione una sub categoría"
                        class="w-full"
                        [readonly]="subCategoriaSelectedOptions().length == 0"
                        [options]="subCategoriaSelectedOptions()"
                        formControlName="subCategoria"
                        (selectionChange)="subCategoriaSelected( $event.value )"
                    >
                    </ui-select>
                </div>
            }
            <!-- {{ formObservar.value.categoria | json }} -->

        </div>
        
    </form>
    <quill-editor class="w-100 h-9rem bg-white mt-3" placeholder="" [(ngModel)]="mensaje"></quill-editor>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <ui-button color="secondary" label="Cancelar" mat-dialog-close="cancelar" class="m-r-10"></ui-button>
    <ui-button color="primary" [disabled]="formObservar.invalid || mensaje == '' || mensaje == null" (onClick)="submit()">Enviar</ui-button>
</mat-dialog-actions>