<app-card [showHeader]="false" cardClass="border-round mb-0" cardContentClass="border-round {{ selectMensaje().estadoCierre == 'CierreForzado' ? 'bg-closed' : 'bg-approved' }} shadow-3">
    <div class="flex flex-column sm:flex-row justify-content-center align-items-center gap-2">
      <div class="avatar bg-white">
        @if ( selectMensaje().estadoCierre == 'CierreForzado' ) {
          <i class="ti ti-x f-28 text-red-700"></i>
        } @else {
          <i class="ti ti-check f-28 text-green-700"></i>
        }
      </div>
      <span class="pr-4 f-w-600">{{ selectMensaje().estadoCierre == 'CierreForzado' ? 'RECHAZADO' : 'APROBADO' }}</span>
      <div class="flex align-item-start gap-2">
        <img src="assets/images/user/avatar-1.png" alt="user-image" class="img-user wid-40 border-50" />
        <div class="flex-grow-1 m-l-10 gap-2">
          <div class="f-14 f-w-600 text-truncate"> {{ selectMensaje().usuarioCierre }} </div> <!-- mensaje.receptor -->
          <div class="m-b-0 mat-small"> {{ selectMensaje().rolCierre }} </div>
        </div>
      </div>
      <span class="f-12 f-w-400"> {{ selectMensaje().fechaCierre | date: 'short' }} </span>

    </div>
</app-card>