<!-- <pre>
    {{ cursosDesfasados | json }}
</pre> -->
<mat-radio-group [ngModel]="cursoMallaDesfasadoSelected()" (ngModelChange)="cursoMallaDesfasadoSelected.set( $event )">
    @for (curso of cursosMallaDesfasados; track curso; let i = $index) {
      <div class="price-check m-b-15 w-full">
        <mat-radio-button color="primary" class="w-100" [value]="curso">
          <div class="row align-item-center">
            <div class="col-12">
              <div class="flex align-item-center popular m-b-0 font-bold"
                >{{ curso.nombreCurso }}
              </div>
              <span class="text-muted m-b-0">{{ curso.codigoCurso }}</span>
              <!-- @if (curso.condicion === 'CREADO') {
                <span class="mat-small px-3 text-white bg-orange-500 b-rad-5">{{ curso.condicion }}</span>
              } -->
            </div>

          </div>
        </mat-radio-button>
      </div>
    }
  </mat-radio-group>
  @if ( cursoMallaDesfasadoSelected().idMalla !== 0 && cursosMallaDesfasados.length ) {
    <ui-alert type="info">
      De confirmarse la reversión, el curso de <b>{{ cursoMallaDesfasadoSelected().nombreCurso }}</b> volverá a estar activo.
    </ui-alert>
  }
  @if ( cursoMallaDesfasadoSelected().idMalla == 0 && cursosMallaDesfasados.length > 0 )  {
    <ui-alert type="info">
      De confirmarse la reversión, el curso que seleccione volverá a estar activo.
    </ui-alert>
  }
  <ui-card-not-items *ngIf="!cursosMallaDesfasados.length" text="No hay cursos desfadaos"></ui-card-not-items>