<p-dialog [(visible)]="visible" [modal]="true" [style]="{ width: '80rem' }" (onHide)="closeDialog()">
    <ng-template #header>
        <span class="font-bold">Asignar Productos</span>
    </ng-template>

    <!-- <pre> TARGET LENGTH: {{productosAsignados.length}} </pre> -->
    <p-pickList [source]="productosDisponibles" [target]="productosAsignados" sourceHeader="Productos disponibles"
        targetHeader="Productos en almacén" [showSourceFilter]="true" [showTargetFilter]="true"
        sourceFilterPlaceholder="Buscar producto..." targetFilterPlaceholder="Buscar producto..."
        filterBy="nombreProducto" [showSourceControls]="false" [showTargetControls]="false" [dragdrop]="false"
        dataKey="id" (onMoveToTarget)="alPasarUno($event)" (onMoveToSource)="alRegresarUno($event)"
        (onMoveAllToTarget)="alPasarTodos($event)" (onMoveAllToSource)="alRegresarTodos($event)">

        <ng-template let-producto pTemplate="item">

            @if (!producto.asignadoAlmacen) {
            <div class="info">
                <div class="nombre">{{ producto.nombreProducto }}</div>
                <div class="detalle">
                    {{ producto.modeloProducto }} · {{ producto.unidad }}
                </div>
            </div>
            }

            @if (producto.asignadoAlmacen) {
            <div class="info">
                <div class="nombre">
                    {{ producto.nombreProducto }}
                </div>
                <div class="detalle">
                    {{ producto.modeloProducto }} · {{ producto.unidad }}
                </div>
            </div>

            <p-inputNumber [ngModel]="cantidades[producto.id] || 1"
                (ngModelChange)="cambiarCantidad(producto.id, $event)" [min]="1" (click)="$event.stopPropagation()"
                (keydown)="$event.stopPropagation()" (keyup)="$event.stopPropagation()">
            </p-inputNumber>
            }
        </ng-template>
    </p-pickList>

    <ng-template #footer>
        <ui-button label="Cancelar" icon="pi pi-times" color="secondary" (onClick)="closeDialog()"></ui-button>
        <ui-button label="Guardar" icon="pi pi-save" color="primary" (onClick)="agregarProductoAlmacen()" [disabled]="productosAsignados.length == 0"></ui-button>
    </ng-template>
</p-dialog>