<app-card [showHeader]="false" class="auth-form-card" cardClass="mt-6 md:mt-0" padding="40">
  <div class="text-center d-block -mt-5">
    <h4 class="font-bold pt-0">LOGISTIX</h4>
  </div>
  <div class="separator">
  </div>
  <div class="text-center mb-3 -mt-3 f-18 f-w-500 pt-1">INICIAR SESIÓN</div>
  <form [formGroup]="formLogin" class="text-start">
    <ui-inputt label="Contraseña" formControlName="password" [validator]="validatorPassword"
      type="password"></ui-inputt>

    @if (messageErrorLogin) {
    <div class="bg-warn-500 text-warn-50 p-10 m-t-10 mb-0 border-round">{{ messageErrorLogin }}</div>
    }
    <div class="grid col-6 col-offset-6">
      <button [disabled]="formLogin.invalid" mat-flat-button color="primary" class="b-rad-0 m-t-0"
        (click)="onSubmit()">INGRESAR</button>
    </div>
    <!-- <pre>{{ roles | json }}</pre> -->
  </form>
</app-card>