<!-- {{ dataSource.data | json }}
  {{ roles() | json }} -->
@if(file().files.length == 0){
<ui-uploader-files typeFile=".xlsx"></ui-uploader-files>
<div class="flex justify-content-center mt-2">
  <ui-button color="blue" (onClick)="descargarPlantilla()">Descargar Plantilla</ui-button>
</div>
}
@else {
<app-card headerClassTemplate="py-10 flex justify-content-between align-item-center w-full">
  <ng-template #headerTitleTemplate>
    <div>Lista de Docentes</div>
    <div class="flex justify-content-end gap-2">
      <ui-button color="primary" icon="ti ti-refresh" matTooltip="Cambiar Archivo"
        (onClick)="file.set(mensajeriaSignal.fileDefault)"></ui-button>
    </div>
  </ng-template>

  <div class="p-b-5">
    <div class="table-containe table-reponsive">
      <div class="table-search p-0">
        <mat-form-field appearance="outline" class="w-100">
          <input matInput (keyup)="applyFilter($event)" placeholder="Buscar curso...." #input />
        </mat-form-field>
      </div>
      <div class="table-responsive">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <!-- Name Column -->
          <ng-container matColumnDef="nombres">
            <th mat-header-cell *matHeaderCellDef> Nombres </th>
            <td mat-cell *matCellDef="let docente">{{ docente.nombres }}
            </td>
          </ng-container>


          <ng-container matColumnDef="apellido_paterno">
            <th mat-header-cell *matHeaderCellDef> Apellido Paterno </th>
            <td mat-cell *matCellDef="let docente" class="text-nowrap"> {{ docente.apellido_paterno }} </td>
          </ng-container>

          <ng-container matColumnDef="apellido_materno">
            <th mat-header-cell *matHeaderCellDef> Apellido Materno</th>
            <td mat-cell *matCellDef="let docente"> {{ docente.apellido_materno }} </td>
          </ng-container>

          <ng-container matColumnDef="documento">
            <th mat-header-cell *matHeaderCellDef>
              <Det></Det>ocumento
            </th>
            <td mat-cell *matCellDef="let docente"> {{ docente.documento }} </td>
          </ng-container>

          <ng-container matColumnDef="n_documento">
            <th mat-header-cell *matHeaderCellDef> Nª Documento </th>
            <td mat-cell *matCellDef="let docente"> {{ docente.n_documento }} </td>
          </ng-container>

          <ng-container matColumnDef="sexo">
            <th mat-header-cell *matHeaderCellDef> Sexo </th>
            <td mat-cell *matCellDef="let docente"> {{ docente.sexo }} </td>
          </ng-container>

          <ng-container matColumnDef="fecha_nacimiento">
            <th mat-header-cell *matHeaderCellDef> Fecha De Nacimiento </th>
            <td mat-cell *matCellDef="let docente"> {{ docente.fecha_nacimiento }} </td>
          </ng-container>

          <ng-container matColumnDef="correo_personal">
            <th mat-header-cell *matHeaderCellDef> Correo Personal </th>
            <td mat-cell *matCellDef="let docente"> {{ docente.correo_personal }} </td>
          </ng-container>

          <ng-container matColumnDef="correo_institucional">
            <th mat-header-cell *matHeaderCellDef> Correo Institucional </th>
            <td mat-cell *matCellDef="let docente"> {{ docente.correo_institucional }} </td>
          </ng-container>

          <ng-container matColumnDef="celular">
            <th mat-header-cell *matHeaderCellDef> Celular </th>
            <td mat-cell *matCellDef="let docente"> {{ docente.celular }} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{ input.value }}"</td>
          </tr>
        </table>
        <mat-paginator [pageSizeOptions]="[100]" [pageSize]="100" aria-label="Select page of users"></mat-paginator>
      </div>
    </div>
  </div>
</app-card>
}