<!-- {{ listaTipoAmbientePractico() | json }}
{{ listaTipoAmbienteTeorico() | json }} -->
<app-card headerClassTemplate="py-10 flex justify-content-between align-item-center w-full">
    <ng-template #headerTitleTemplate>
        <div class="flex justify-content-between align-items-center gap-8 font-bold">
            <div class="bg-blue-100 text-blue-800 border-round">
                <span class="m-2">{{ infoDirector[0].NombreProgramaAcademico }}</span>
            </div>
            <div class="flex-grow-1 text-center bg-blue-100 text-blue-800 border-round">
                @if (cursoAperturado().ht > 0 && cursoAperturado().hp > 0) {
                <span class="m-2">TEÓRICO - PRÁCTICO</span>
                }
                @else if (cursoAperturado().ht> 0 && cursoAperturado().hp == 0) {
                <span class="m-2">TEÓRICO</span>
                }
                @else {
                <span class="m-2">PRÁCTICO</span>
                }
            </div>
            @if(seccionEdit.idAperturaSeccion == 0){
            <div class="text-right bg-blue-100 text-blue-800 border-round">
                <span class="m-2">Sección: {{ obtenerNombreSeccion() }}</span>
            </div>
            }@else {
            <div class="text-right bg-blue-100 text-blue-800 border-round">
                <span class="m-2">Sección {{ seccionEdit.nombreSeccion }}</span>
            </div>
            }
        </div>
    </ng-template>
    @if(!loading){
    <div>
        <form [formGroup]="formSeccion">
            <div class="flex gap-2">
                <mat-checkbox (change)="mostrarCampoObservacion()"></mat-checkbox>
                <ui-input class="w-full" label="Observación" formControlName="observacion" [readonly]="!checkboxChecked"
                    [maxlength]="maxLengthObservacion"></ui-input>
            </div>
            <div class="flex gap-2">
                <div>
                    <span class="border-round font-bold" [ngClass]="{'bg-red-200 text-red-700': !formSeccion.get('discapacidad')?.value
                            ,'bg-green-200 text-green-700': formSeccion.get('discapacidad')?.value
                        }">DISCAPACIDAD</span>
                    <mat-slide-toggle formControlName="discapacidad"></mat-slide-toggle>
                </div>
                <ui-input class="w-full" label="Vacantes" formControlName="vacantes" [maxlength]="maxLengthVacantes"
                    [min]="minVacantes" [expReg]="expRegVacantesBlockToInput"></ui-input>
            </div>

            <!-- FORMATO Y AMBIENTE DE TEORÍA -->
             @if (cursoAperturado().ht > 0) {
                <div class="flex gap-2 mb-2">
                    <mat-form-field class="w-full">
                        <mat-label>FORMATO TEORÍA</mat-label>
                        <mat-select (selectionChange)="seleccionarFormatoTeorico($event)" formControlName="formatoTeoria">
                            @for (formato of listaFormatoTeorico(); track formato) {
                            <mat-option [value]="formato.idFormato">
                                {{ formato.nombreFormato }}
                            </mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
        
                    <!-- FORM FIELD PARA TEÓRICO -->
                    <mat-form-field class="w-full">
                        <mat-label>AMBIENTE TEORÍA</mat-label>
                        <mat-select formControlName="tipoAmbienteTeoria">
                            @for (option of listaTipoAmbienteTeorico(); track option) {
                            <mat-option [value]="option.idTipoAmbiente">
                                <div class="flex"> {{ option.nombreTipoAmbiente }} </div>
                            </mat-option>
                        }
                        </mat-select>
                    </mat-form-field>
                 </div>
             }


            <!-- FORMATO Y AMBIENTE PRÁCTICA -->
             @if (cursoAperturado().hp > 0) {
                <div class="flex gap-2">
                    <mat-form-field class="w-full">
                        <mat-label>FORMATO PRÁCTICO</mat-label>
                        <mat-select (selectionChange)="seleccionarFormatoPractico($event)" formControlName="formatoPractica">
                            @for (formato of listaFormatoPractico(); track formato) {
                            <mat-option [value]="formato.idFormato">
                                {{ formato.nombreFormato }}
                            </mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
    
    
                    <mat-form-field class="w-full">
                        <mat-label>AMBIENTE PRÁCTICO</mat-label>
                        <mat-select formControlName="tipoAmbientePractica" (selectionChange)="ambienteSeleccionado($event.value)">
                            @for (option of listaTipoAmbientePractico(); track option) {
                            <mat-option [value]="option.idTipoAmbiente">
                                <!-- {{ option | json }} -->
                                <div class="flex"> {{ option.nombreTipoAmbiente }} </div>
                            </mat-option>
                        }
                        </mat-select>
                    </mat-form-field>
                 </div>
             }

            <!-- </div> -->

            @if(habilitarGrupos || seccionEdit.numeroGrupos > 0){
            <ui-input class="w-full" label="Cantidad de Grupos para las horas prácticas" formControlName="nGrupos"
                [maxlength]="maxLengthVacantes" [min]="1" [expReg]="expRegVacantesBlockToInput"></ui-input>
            }
            <!-- } -->

            <!-- @else {
            <mat-card>
                <div class="ml-2 font-bold text-base p-2">
                    {{ seccionEdit.ambiente[0]?.nombreFormato }}
                </div>
                <mat-divider></mat-divider>
                @for (tipoAmbiente of seccionEdit.ambiente; track $index) {
                <div class="flex justify-content-between text-base">
                    <mat-card-content>
                        {{ tipoAmbiente.nombreTipoAmbiente }}
                    </mat-card-content>
                    <ui-button color="red" icon="ti ti-trash f-18" class="m-2"
                        (onClick)="eliminarTipoEstudioConfirm(seccionEdit, tipoAmbiente.idTipoAmbiente)">
                    </ui-button>
                </div>
                }
                <mat-divider></mat-divider>
            </mat-card>
            } -->
        </form>
    </div>
    }@else {
    <ui-loading-progress-bar></ui-loading-progress-bar>
    }
</app-card>
<mat-dialog-actions align="end">
    <ui-button color="primary" [disabled]="formSeccion.invalid"
        label="Guardar" class="m-r-10" (onClick)="onSubmit()"></ui-button>
    <ui-button color="secondary" label="Cancelar" mat-dialog-close="cancelar" class="m-r-10"
        (onClick)="cancelarAdd()"></ui-button>
</mat-dialog-actions>