<mat-dialog-content>
    <div class="p-10">
        <form [formGroup]="formCurso">
            <div class="flex gap-2">
                <!-- <ui-input class="w-full" label="Programa" formControlName="programa" ></ui-input> -->
                 @if (this.cursoDetails().id == 0) {
                     <ui-select label="Ciclo" formControlName="idCiclo" [options]="optionsCiclos" ></ui-select>
                 }
                <ui-input [ngModel]="prefijoCodigoCurso" class="w-full" label="Codigo del Curso" formControlName="codigoCurso" 
                [maxlength]="maxLengthCodigoCurso" [minlength]="minLengthCodigoCurso" [expReg]="expRegCodigoCursoBlockToInput" [patternErrorMessage]="'Formato de código P011101'"></ui-input>
                
            </div>
            <div class="flex gap-2">
                <ui-input class="w-full" label="Nombre del Curso" formControlName="nombreCurso" [maxlength]="maxLengthNombreCurso" [minlength]="minLengthNombreCurso" 
                [expReg]="expRegNombreCursoBlockToInput" [patternErrorMessage]="'No se permite espacios al final del nombre'"></ui-input>
            </div>
            <div class="flex gap-2">
                <ui-input class="w-full" label="Descripción del Curso" formControlName="descripcion" [maxlength]="maxLengthDescripcion" [minlength]="minLengthDescripcion" 
                [expReg]="expRegDescripcionBlockToInput" [patternErrorMessage]="'No se debe incluir espacios al término de la palabra ni caracteres especiales (,)'"></ui-input>
            </div>
            <div class="flex flex-column md:flex-row gap-2">
                <ui-select class="w-full" label="Tipo de Estudio" formControlName="tipoEstudio" [options]="optionsTipoEstudio" ></ui-select>
                <ui-select class="w-full" label="Tipo de Curso" formControlName="tipoCurso" [options]="optionsTipoCurso" ></ui-select>

                <!-- <ui-input label="Tipo de Curso" formControlName="tipoCurso" ></ui-input> -->
            </div>
            <!-- <ui-input label="Competencia" formControlName="competencia" ></ui-input> -->
            <ui-select label="Competencia" formControlName="competencia" [options]="optionsCompetencia" ></ui-select>
            <div class="flex flex-column md:flex-row gap-2">
                <ui-input class="w-full" label="Horas Teoricas" formControlName="horasTeoricas" (onInputEvent)="calcular()" [maxlength]="maxLengthHorasTeoricas" [minlength]="minLengthHorasTeoricas" [expReg]="expRegHorasTeoricasBlockToInput" ></ui-input>
                <ui-input class="w-full" label="Horas Practicas" formControlName="horasPracticas" (onInputEvent)="calcular()" [maxlength]="maxLengthHorasPracticas" [minlength]="minLengthHorasPracticas" [expReg]="expRegHorasPracticasBlockToInput" ></ui-input>
            </div>
            <div class="flex gap-2">
                <ui-input class="w-full" label="Total de Horas" formControlName="totalHoras" [readonly]="true" [min]="minTotalHoras" [maxlength]="maxLengthTotalHoras" [minlength]="minLengthTotalHoras" [expReg]="expRegTotalHorasBlockToInput" ></ui-input>
                <ui-input class="w-full" label="Total de Creditos" formControlName="totalCreditos" [min]="minCredtios" [maxlength]="maxLengthTotalCreditos" [minlength]="minLengthTotalCreditos" [expReg]="expRegTotalCreditosBlockToInput" ></ui-input>
            </div>
            <!-- <div class="flex flex-column md:flex-row gap-2 justify-content-around">
                <span class="bg-primary-100 text-primary-700 f-w-600 border-round p-2 text-center">Total Horas: {{ (formCurso.value.horasPracticas * 1) + (formCurso.value.horasTeoricas * 1) }}</span>
                <span class="bg-success-100 text-success-700 f-w-600 border-round p-2 text-center">Total Creditos: {{ (formCurso.value.horasPracticas * 1) + (formCurso.value.horasTeoricas * 0.5) }}</span>
            </div> -->
            
        </form>

    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <ui-button color="secondary" label="Cancelar" mat-dialog-close="cancelar" class="m-r-10"></ui-button>
  <ui-button color="primary" [label]="cursoDetails().id != 0 ? 'Editar' : 'Crear'" [disabled]="formCurso.invalid" (onClick)="onSubmit()"></ui-button>
</mat-dialog-actions>
