<!-- {{ seleccionarDocenteNoAsignado()  | json }} -->
@if (!loading) {
  <app-card headerClassTemplate="py-10 flex justify-content-between align-items-center w-full">
    <ng-template #headerTitleTemplate>
      <div class="block pb-2">
        <div>Lista docentes para agregar</div>
      </div>
    </ng-template>
    <div class="p-b-5" style="max-height: 400px; overflow-y: auto; box-sizing: border-box;">
      <!-- Contenedor de la tabla con PrimeFlex -->
      <div class="table-containe p-overflow-auto p-w-100 p-mb-3">
        <div class="table-search p-0">
          <mat-form-field appearance="outline" class="w-100">
            <input (keyup)="applyFilter($event)" matInput placeholder="Buscar seccion..." #input />
          </mat-form-field>
        </div>
        <div class="table-responsive">
          <table mat-table [dataSource]="dataSource" class="p-m-0">
            
            <ng-container matColumnDef="nombreAp">
              <th mat-header-cell *matHeaderCellDef> Apellios y Nombres </th>
              <td mat-cell *matCellDef="let docente" class="text-nowrap"> {{ docente.nombreAp }} </td>
            </ng-container>
  
            <ng-container matColumnDef="numeroDocumento">
              <th mat-header-cell *matHeaderCellDef> Número Documento </th>
              <td mat-cell *matCellDef="let docente" class="text-nowrap"> {{ docente.numeroDocumento }} </td>
            </ng-container>
  
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef class="text-center"> Acción </th>
              <td mat-cell *matCellDef="let docente">
                <div class="text-center text-nowrap">
                  <ul class="list-inline p-l-0">
                    <li class="list-inline-item m-r-2" matTooltip="Agregar Docente" (click)="addDocente(docente)">
                      <a href="javascript:" class="avatar avatar-xs text-muted">
                        <i class="ti ti-plus f-18"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </td>
            </ng-container>
  
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No se encuentra el resultado a: "{{ input.value }}"</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </app-card>
  
}
@else {
  <ui-loading-progress-bar></ui-loading-progress-bar>
}
