<semestre-academico-page></semestre-academico-page>

@if ( semestreSelect().id != 0 && asignaciones().length == 0 ) {
    <facultad-page>
      <decano-page decano-page class="flex align-items-center gap-2 "></decano-page>
      <programa-page programa-page>
        <app-director-page director-page class="flex align-items-center gap-2 bg-primary-50 text-gray-900 px-2 pt-2 border-round"></app-director-page>
        <local-page local-page class="my-2"></local-page>
      </programa-page>
    </facultad-page>
} @else {
  <asignacion-page> </asignacion-page>
}


<!-- {{ semestreSelect() | json}}
{{ facultadSelect() | json }}
{{ programaSelect() | json }}
{{ decanoSelect() | json }}
{{ directorSelect() | json }}
{{ localSelect() | json }} -->