  .arrow-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Las flechas no deben interferir con los eventos del ratón */
  }

  #arrowContainer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999; /* Asegura que las flechas estén detrás de los cards */
  }
  