<p>malla-curricular-list works!</p>
<mat-divider></mat-divider>
<br>
<ciclo-page></ciclo-page>
<div class="flex flex-column md:flex-row justify-content-between gap-2">
    <curso-page></curso-page>
    <curso-page></curso-page>
    <curso-page></curso-page>
    <curso-page></curso-page>
    <curso-page></curso-page>
    <curso-page></curso-page>
    <curso-page></curso-page>
    <curso-page></curso-page>
    <curso-page></curso-page>
    <curso-page></curso-page>
    <!-- <ciclo-page></ciclo-page>
    <ciclo-page></ciclo-page>
    <ciclo-page></ciclo-page>
    <ciclo-page></ciclo-page>
    <ciclo-page></ciclo-page>
    <ciclo-page></ciclo-page>
    <ciclo-page></ciclo-page>
    <ciclo-page></ciclo-page>
    <ciclo-page></ciclo-page>
    <ciclo-page></ciclo-page>
    <ciclo-page></ciclo-page> -->

    <!-- <div class="w-1">
        <div class="flex flex-column gap-2">
            <div class="flex align-item-center justify-content-center border-1 border-round p-5 border-gray-400 bg-gray-900 text-white">
                CICLO II
            </div>
            <div class="flex align-item-center justify-content-center border-1 border-round p-2 border-dashed border-gray-400">
                <p class="f-10 m-0">Matemática II</p>
            </div>
        </div>
    </div> -->
</div>