<mat-dialog-content>

    <div [formGroup]="formProveedor">
        <ui-input label="Nombre" formControlName="nombreRs" 
        [maxlength]="maxLengthNombreRs" [minlength]="minLengthNombreRs"
        [patternErrorMessage]="'No permite caracteres especiales, números o espacios innecesarios'" ></ui-input>

        <ui-input label="RUC" formControlName="ruc" 
        [maxlength]="maxLengthRuc" [minlength]="minLengthRuc"></ui-input>
        
        <ui-input label="Dirección Fiscal" formControlName="direccionFiscal" 
        [maxlength]="maxLengthDireccionFiscal" [minlength]="minLengthDireccionFiscal"></ui-input>

        <mat-radio-group formControlName="tipo" aria-label=" SELECCIONAR TIPO DE PROVEEDOR">
            <mat-radio-button value="PERSONA JURÍDICA"> PERSONA JURÍDICA </mat-radio-button>
            <mat-radio-button value="PERSONA NATURAL"> PERSONA NATURAL </mat-radio-button>
        </mat-radio-group>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <ui-button color="secondary" label="Cancelar" mat-dialog-close="cancelar" class="m-r-10"></ui-button>
    <ui-button color="primary" [label]="proveedorSelect().codigo !== 0 ? 'Editar' : 'Agregar' " (onClick)="guardar()"
        [disabled]="formProveedor.invalid"></ui-button>
</mat-dialog-actions>