<div class="row">
    <div class="col-8">
        <app-card cardClass="mt-2">
            <ng-template #headerTitleTemplate>
                Ticket List
            </ng-template>
            Ticket List
        </app-card>
    </div>
    <div class="col-4">
        <app-card cardClass="mt-2" headerClassTemplate="py-10 flex justify-content-between align-item-center w-full">
            <ng-template #headerTitleTemplate>

                <div>Categorias</div>
                <ui-button color="primary" icon="ti ti-plus" (onClick)="openModalCategoria( Categorias )"></ui-button>
  
            </ng-template>
            <div class="flex flex-column gap-2">
                @for (categoria of categorias(); track categoria ) {

                    <div class="flex justify-content-between align-items-center"
                        (mouseenter)="hoverClass( categoria )"
                        (mouseleave)="removeClass( categoria )"
                    >
                        <div class="border-3xl border-round bg-accent-300 text-accent-700 px-2">{{ categoria.nombre }} (5)</div>
                        <div class="flex gap-2 hidden" [id]="categoria.id">
                            <div class="text-primary-700 border-round px-1 cursor-pointer bg-blue-100" (click)="openModalSubCategoria( SubCategorias, categoria )"><i class="ti ti-plus"></i></div>
                            <div class="text-red-700 border-round px-1 cursor-pointer bg-red-100" (click)="deleteConfirm( categoria )"><i class="ti ti-trash"></i></div>
                        </div>
                    
                        <!-- <div class="text-primary-700 px-2">
                            <ui-button-icon icon="ti ti-edit"></ui-button-icon>
                        </div> -->
                    </div>
                }
            </div>
        </app-card>
    </div>
</div>
<ng-template #Categorias>
    <categoria-add></categoria-add>
</ng-template>

<ng-template #SubCategorias>
    <sub-categoria-add></sub-categoria-add>
</ng-template>