<div class="row">

    @for (plan of planesDeEstudio(); track plan) {
        <div class="col-12 col-sm-6 col-md-6 col-xl-3 text-center" (click)="selectPlan( plan )" [ngClass]="{'bg-blue-200': planEstudioSelect().id == plan.id && isModal(), 'col-12 col-xl-6': isModal()}">
            <plan-estudio-card [planEstudio]="plan"></plan-estudio-card>
        </div>
    }
    <div class="col-12 col-sm-6 col-md-6 col-xl-3 text-cente" [ngClass]="{'col-12 col-xl-6': isModal() }">
        <app-card [showHeader]="false" cardClass="block h-full m-auto" cardContentClass="m-auto text-center">
            <p>Agregar Plan de Estudio</p>
            <mat-divider class="mb-2"></mat-divider>
            <ui-button icon="ti ti-plus f-18 border-circle" color="primary" tooltip="Agregar" (onClick)="agregarPlan(planEstudioAdd)"></ui-button>
        </app-card>
      
    </div>

</div>
<!-- <pre>
    {{ idPrograma() }}
    {{ idSemestres() }}
    {{ currentInfoDirector() | json}}
</pre> -->

<ng-template #planEstudioAdd let-data>
    <plan-estudio-add></plan-estudio-add>
</ng-template>

<ng-template #semestreOptions let-data>
    <semestre-options [idSemestres]="idSemestres()"></semestre-options>
</ng-template>

