<p></p>
@if ( !isModal() && !isModalOfItself() && currentRuta() !== '/plan-de-estudios/disenar' ) {
    <h1>{{ planEstudioSelect().nombre }}</h1>
    <ui-button color="blue" icon="ti ti-arrow-back-up f-16" (onClick)="volver()" tooltip="Volver"></ui-button>
    <mat-divider class="my-2"></mat-divider>


    
}

<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="end">
    <mat-tab label="Malla Curricular" bodyClass="overflow-hidden">
        <ng-template matTabContent>

            <div class="overflow-hidden">
                <!-- <h1 class="text-2xl font-bold">Malla Curricular</h1> -->

                <div class="flex justify-content-end gap-2 px-0 mt-2">
                    @if(showBtnActivarEdicion && !preRequisito){
                        <ui-button color="blue" icon="ti ti-save f-16" (onClick)="openFormCurso( templateCursoAdd )">Agregar Curso</ui-button>
                    }


                    @if (preRequisito) {
                        <ui-button color="blue" icon="ti ti-save f-16" (onClick)="visibilidadFlechaPreRequisito()"> {{ mostrarFlecha ? 'Ocultar Flechas' : 'Mostrar Flechas' }}</ui-button>
                    }
                
                    @if ( showBtnActivarEdicion && !preRequisito ) {
                
                        <ui-button color="blue" icon="ti ti-save f-16" (onClick)="activarEdicion()">Activar Edición</ui-button>
                    }
                
                    @if ( !showBtnActivarEdicion && cursosMallaByCiclo().length == 0 && !preRequisito) {
                        <ui-button color="blue" icon="ti ti-save f-16" (onClick)="planEstudioUltimoConResolucion().id == 0 ? showModalImportar( templateCursoImport ) : duplicarMalla()">Importar Cursos</ui-button>
                    }
                
                    @if(showBtnActivarEdicion && !preRequisito && planesDeEstudio().length > 1){
                        <ui-button color="blue" icon="ti ti-save f-16" (onClick)="openModalCursosDesfasados( templateCursoDesfasadoList )">Ver Cursos Desfasados</ui-button>
                        <ui-button color="blue" icon="ti ti-save f-16" (onClick)="openModalCursosRenovados( templateCursoRenovadosList )">Ver Cursos Renovados</ui-button>
                    }
                
                </div>
            
                @if ( cursosMallaByCiclo().length == 0 && currentRuta() !== '/plan-de-estudios/disenar') {
                    <ui-card-not-items icon='ti ti-folder-off f-40' text="No hay cursos creados" class="mt-2 h-30rem" classContent="h-full align-content-center"></ui-card-not-items>
                }
                <!-- <pre>{{ planEstudioSelect() | json }}</pre> -->
                
                <div class="row" cdkDropListGroup>
                
                    <div class="flex gap-1 px-3">
                
                        @if ( !preRequisito ) {
                            @for (ciclo of cursosMallaByCiclo(); track ciclo) {
                                
                                <div class="col-1 text-center">
                                    <div class="bg-bluegray-900 text-white border-round py-1 mb-2 -mx-1">{{ ciclo.ciclo }}</div>
                                    <div class="flex flex-column gap-2 example-list align-items-center"
                                        
                                        cdkDropList
                                        [cdkDropListData]="ciclo.cursosMalla"
                                        (cdkDropListDropped)="drop($event)">
                                        @for ( curso of ciclo.cursosMalla; track curso; let index = $index) {
                                            <!-- <pre>Old: {{ curso.orden | json }} - New: {{ index + 1 }} </pre> -->
                                            <div
                                            [cdkContextMenuTriggerFor]="options"
                                            (auxclick)="openOptions($event, curso, ciclo)"
                                            
                                            cdkDrag
                                            [cdkDragStartDelay]="curso.idMalla == 0 ? 100000 : 0"
                                            
                                            (mouseenter)="hoverClass( curso )"
                                            (mouseleave)="removeClass( curso )"
                                            
                                            
                                            
                                            [ngClass]="
                                                {   'bg-yellow-500 cursor-pointer': curso.cicloNumero < cursoPreRequisito?.curso.cicloNumero && !preRequisitosFromCursoSelect.includes(curso.idMalla),
                                                'bg-green-200 border-green-500':  curso.cicloNumero < cursoPreRequisito?.curso.cicloNumero && preRequisitosFromCursoSelect.includes(curso.idMalla) && preRequisitosFromCursoSelect.length > 0,
                                                'bg-blue-100': curso.modalidadDeCreacion == 'POR RENOVACION',
                                                'border-3 border-yellow-500': cursoPreRequisito && cursoPreRequisito?.idMalla == curso.idMalla,
                                                'border-1 border-dashed border-gray-400': cursoPreRequisito?.idMalla != curso.idMalla,
                                            }"
                                    
                                    class="
                                    text-black f-8
                                    border-1 border-round
                                    w-full
                                    h-4rem
                                    align-content-center
                                    font-semibold px-1
                                    
                                    shadow-3"
                                    >
                                                <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
                                                <span class="px-2 border-round" [ngClass]="curso.estado == 'ACTIVO' ? 'bg-cyan-200' : 'bg-blue-700'">{{ curso.estado }}</span>
                                                <div>{{ curso.nombreCurso }}</div>
                                                <div class="font-normal text-gray-800">{{ curso.codigoCurso }}</div>
                                            </div>
                                        }
                                    </div>
                                    
                                </div>
                
                        } 
                
                        } @else {
                            @for (ciclo of cursosMallaPreRequisitoByCiclo(); track ciclo) {
                
                                <div class="col-1 text-center">
                                    <div class="bg-bluegray-900 text-white border-round py-1 mb-2 -mx-1">{{ ciclo.ciclo }}</div>
                                    <div class="flex flex-column gap-2 example-list align-items-center"
                                    cdkDropList
                                        [cdkDropListData]="ciclo.cursosMalla"
                                        (cdkDropListDropped)="drop($event)">
                                        @for ( curso of ciclo.cursosMalla; track curso) {
                                            <div 
                                                cdkDrag
                                                [cdkDragStartDelay]="cursoMallaSelectPreRequisito().idMalla == 0 ? 100000 : 0"
                                                [cdkDragDisabled]="cursosMallaPreRequisito().includes( curso )"
                                                (mouseenter)="hoverClass( curso )"
                                                (mouseleave)="removeClass( curso )"
                                                (dblclick)="!isModal() && !readonly ? selectPreRequisitoPadre( curso ) : ''"
                                                (click)="cursoPreRequisito?.idMalla != 0 ? selectPreRequsitoHijo( curso ) : ''"
                                            
                                            
                                                [ngClass]="
                                                {   'bg-yellow-500 cursor-pointer': curso.cicloNumero < cursoPreRequisito?.curso.cicloNumero && !preRequisitosFromCursoSelect.includes(curso.idMalla),
                                                    'bg-green-200 border-yellow-500':  curso.cicloNumero < cursoPreRequisito?.curso.cicloNumero && preRequisitosFromCursoSelect.includes(curso.idMalla) && preRequisitosFromCursoSelect.length > 0,
                                                    'bg-blue-200': curso.preRequisitos.length > 0,
                                                    'border-3 border-yellow-500': cursoPreRequisito && cursoPreRequisito?.idMalla == curso.idMalla,
                                                    'border-1 border-dashed border-gray-400': cursoPreRequisito?.idMalla != curso.idMalla,
                                                }"
                                                [attr.id]="'card-' + curso.idMalla"
                                                class="
                                                text-black f-8
                                                border-1 border-round
                                                w-full
                                                h-4rem
                                                align-content-center
                                                font-semibold px-1
                                                
                                                shadow-3"
                                                >
                                            
                                                <div>{{ curso.nombreCurso }}</div>
                                                <div class="font-normal text-gray-800">{{ curso.codigoCurso }}</div>
                                            </div>
                                        }
                                    </div>
                                    
                                </div>
                
                            } 
                            
                            <svg id="arrowContainer" class="arrow-container"></svg>
                        }
                    </div>
                </div>
            </div>

        </ng-template>
        
        
        
        
    </mat-tab>
    @if ( !isModal() && !isModalOfItself() && currentRuta() !== '/plan-de-estudios/disenar' ) {
        <mat-tab label="Análisis de Equivalencia">
            <ng-template matTabContent>
                <analisis-equivalencia-page [isMalla]="true"></analisis-equivalencia-page>
            </ng-template>
        </mat-tab>
    }

</mat-tab-group>

<ng-template #templateCursoDesfasadoList let-data>
    <mat-dialog-content>
        <curso-desfasado-list></curso-desfasado-list>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <ui-button color="secondary" label="Cancelar" mat-dialog-close="cancelar" class="m-r-10"></ui-button>
        <ui-button color="primary" label="Revertir Desfase" [disabled]="cursoMallaDesfasadoSelected().idMalla == 0" (onClick)="revertirDesfaseConfirm()"></ui-button>
    </mat-dialog-actions>
</ng-template>

<ng-template #templateCursoRenovadosList let-data>
    <mat-dialog-content>
        <curso-renovado-list></curso-renovado-list>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <ui-button color="secondary" label="Cancelar" mat-dialog-close="cancelar" class="m-r-10"></ui-button>
        <ui-button color="primary" label="Revertir Renovación" [disabled]="cursoMallaRenovadoSelected().idMallaRenovada == 0" (onClick)="revertirRenovacionConfirm()"></ui-button>
    </mat-dialog-actions>
</ng-template>


<ng-template #templateCursoImport let-data>
    <mat-dialog-content>

      
        <curso-import-template></curso-import-template>

    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <ui-button color="secondary" label="Cancelar" mat-dialog-close="cancelar" class="m-r-10"></ui-button>
        <ui-button color="primary" label="Importar" (onClick)="guardarCursosImport()" [disabled]="file().files.length == 0"></ui-button>
    </mat-dialog-actions>
</ng-template>


<ng-template #options>
    <div class="example-menu border-1 border-gray-300" cdkMenu (blur)="console.log($event)">
        <button (click)="openFormCurso( templateCursoAdd, 'Editar' )" class="example-menu-item" cdkMenuItem><i class="ti ti-pencil f-16 pr-2 text-blue-700"></i>Editar</button>
        <mat-divider></mat-divider>
        <button (click)="eliminarConfirm()" class="example-menu-item" cdkMenuItem><i class="ti ti-trash f-16 pr-2 text-red-700"></i>Eliminar</button>
        @if ( readonly && planesDeEstudio().length > 1  ) { <!-- planesDeEstudio().length > 1 && -->
            <mat-divider></mat-divider>
            <button (click)="renovar( templateCursoAdd )" class="example-menu-item" cdkMenuItem><i class="ti ti-refresh f-16 pr-2 text-purple-700"></i>Renovar</button>
            <mat-divider></mat-divider>
            <!-- <button (click)="revertirConfirm()" class="example-menu-item" cdkMenuItem><i class="ti ti-arrow-back-up f-16 pr-2 text-orange-700"></i>Revertir</button>
            <mat-divider></mat-divider> -->
            <button (click)="desfasarConfirm()" class="example-menu-item" cdkMenuItem><i class="ti ti-alert-circle f-16 pr-2 text-red-700"></i>Desfasar</button>
        }
    </div>
</ng-template>

<ng-template #templateCursoAdd let-data>
    <curso-add [readonlyCiclo]="cursoMallaOption().idMalla == 0 ? false : true"></curso-add>
</ng-template>

<ng-template #templatePlan let-data>
    @for (plan of planEstudioEncontrado; track $index) {
        <div class="bg-yellow-500 text-white-700 font-bold text-center">NO ES POSIBLE {{ accionCurso }} EL CURSO</div>
        <plan-estudio-card [planEstudio]="plan" tipo="asignar"></plan-estudio-card>
        <!-- <pre>{{ plan | json}}</pre> -->
    }
</ng-template>