.product-list {
    padding-left: 0;
  
    .list-group {
      padding: 8px 0px 8px 25px;
      position: relative;
      border-bottom: 1px solid var(--accent-300);
  
      &:before {
        content: '\ea5e';
        font-family: tabler-icons !important;
        position: absolute;
        left: 0;
        top: 8px;
        opacity: 1;
        color: var(--success-500);
      }
  
      &:last-child {
        border-bottom: none;
      }
    }
  }
  
  ::ng-deep.mat-mdc-card.price-top {
    background: transparent;
    border: none !important;
  
    .price-section {
      padding-top: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  
  ::ng-deep.price-check {
    display: flex;
    position: relative;
    border: 1px solid var(--accent-300);
    border-radius: 8px;
  
    .mat-mdc-radio-button {
      padding: 16px;
  
      &.mat-mdc-radio-checked {
        background: var(--primary-50);
  
        ::ng-deep.dark & {
          background: var(--primary-100);
        }
      }
    }
  
    .mdc-form-field {
      display: flex;
  
      .mdc-radio {
        padding: 0px 10px 20px;
      }
  
      label {
        flex: 1;
  
        .popular {
          span {
            padding: 4px 5px 6px;
            margin-left: 10px;
  
            ::ng-deep.able-pro-rtl & {
              margin-right: 10px;
              margin-left: 0ox;
            }
          }
        }
      }
    }
  }
  
  .arrow-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300%;
    pointer-events: none; /* Las flechas no deben interferir con los eventos del ratón */
  }
  
  #arrowContainer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999; /* Asegura que las flechas estén detrás de los cards */
  }


  //MENU OPTIONS
  .example-menu {
    display: inline-flex;
    flex-direction: column;
    min-width: 180px;
    max-width: 280px;
    background-color: rgb(255, 255, 255);
    padding: 6px 0;
  }
  
  .example-menu-item {
    background-color: transparent;
    cursor: pointer;
    border: none;
  
    user-select: none;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;
  
    display: flex;
    align-items: center;
    flex-direction: row;
    flex: 1;
  }
  
  .example-menu-item:hover {
    background-color: rgb(208, 208, 208);
  }
  
  .example-menu-item:active {
    background-color: rgb(170, 170, 170);
  }