<p></p>
@if ( !isModal() && !isModalOfItself() && currentRuta() !== '/plan-de-estudios/disenar' ) {
    <h1>{{ planEstudioSelect().nombre }}</h1>
    <ui-button color="blue" icon="ti ti-arrow-back-up f-16" (onClick)="volver()" tooltip="Volver"></ui-button>
    <mat-divider class="my-2"></mat-divider>

<div class="flex justify-content-end gap-2">
    <ui-button color="blue" icon="ti ti-folder f-16" [routerLink]="['/cursos']" tooltip="Gestionar Cursos"></ui-button>
    <ui-button color="red" icon="ti ti-trash f-16" (onClick)="onEliminarConfirm()" [disabled]="cursosPlan.length == 0" tooltip="Eliminar Cursos"></ui-button>
</div>
}
<div class="flex justify-content-end gap-2 -mr-3 px-0">
    @if (preRequisito) {
        <ui-button color="blue" icon="ti ti-save f-16" (onClick)="visibilidadFlechaPreRequisito()"> {{ mostrarFlecha ? 'Ocultar Flechas' : 'Mostrar Flechas' }}</ui-button>
    }
    @if ( readonly ) {
        <ui-button color="blue" icon="ti ti-save f-16" (onClick)="activarEdicion()">Activar Edición</ui-button>
    } @else {
        
        <ciclo-page></ciclo-page>
        <ui-button color="blue" icon="ti ti-save f-16" (onClick)="openModalCursos( templateCursoAdd )">Agregar Cursos</ui-button>
        <ui-button color="blue" icon="ti ti-save f-16" (onClick)="listarDesfasados( templateCursoDesfasadoList )">Ver Cursos Desfasados</ui-button>
    }

    @if ( !readonly && cursosMallaByCiclo().length == 0 ) {
        <ui-button color="blue" icon="ti ti-save f-16" (onClick)="showModalImportar( templateCursoImport )">Importar Cursos</ui-button>
    }
    <!-- <ui-button color="blue" icon="ti ti-save f-16" (onClick)="showModalImportar( templateCursoImport )">Importar Cursos</ui-button> -->

</div>
<!-- <pre> {{ cursoPreRequisito?.idMalla | json }} </pre> -->
<!-- <pre>{{ cursosMallaByCiclo() | json }}</pre> -->
@if ( cursosMallaByCiclo().length == 0 && currentRuta() !== '/plan-de-estudios/disenar') {
    <ui-card-not-items icon='ti ti-folder-off f-40' text="No hay cursos creados" class="mt-2 h-30rem" classContent="h-full align-content-center"></ui-card-not-items>
}
<div class="row w-12">

    <div class="flex gap-2">

        @if ( !preRequisito ) {
            @for (ciclo of cursosMallaByCiclo(); track ciclo) {

                <div class="col-1 text-center">
                    <div class="bg-bluegray-900 text-white border-round py-1 mb-2 -mx-1">{{ ciclo.ciclo }}</div>
                    <div class="flex flex-column gap-2 example-list align-items-center"
                        cdkDropList
                        [cdkDropListData]="ciclo.cursosMalla"
                        (cdkDropListDropped)="drop($event)">
                        @for ( curso of ciclo.cursosMalla; track curso) {
                            <div 
                                cdkDrag
                                [cdkDragStartDelay]="cursoMallaSelectPreRequisito().idMalla == 0 ? 100000 : 0"
                                [cdkDragDisabled]="cursosMallaPreRequisito().includes( curso )"
                                (mouseenter)="hoverClass( curso )"
                                (mouseleave)="removeClass( curso )"
                                
                            
                              
                                [ngClass]="
                                 {   'bg-yellow-500 cursor-pointer': curso.cicloNumero < cursoPreRequisito?.curso.cicloNumero && !preRequisitosFromCursoSelect.includes(curso.idMalla),
                                     'bg-green-200 border-green-500':  curso.cicloNumero < cursoPreRequisito?.curso.cicloNumero && preRequisitosFromCursoSelect.includes(curso.idMalla) && preRequisitosFromCursoSelect.length > 0,
                                     'bg-blue-200': curso.preRequisitos.length > 0,
                                     'border-3 border-yellow-500': cursoPreRequisito && cursoPreRequisito?.idMalla == curso.idMalla,
                                     'border-1 border-dashed border-gray-400': cursoPreRequisito?.idMalla != curso.idMalla,
                                 }"
                    
                                class="
                                 text-black f-8
                                 border-1 border-round
                                 w-full
                                 h-4rem
                                 align-content-center
                                 font-semibold px-1
                                 
                                 shadow-3"
                                 >
                            
                                <div>{{ curso.nombreCurso }}</div>
                                <div class="font-normal text-gray-800">{{ curso.codigoCurso }}</div>
                            </div>
                        }
                    </div>
                    
                </div>
 
         } 

        } @else {
            @for (ciclo of cursosMallaPreRequisitoByCiclo(); track ciclo) {
                
                <!-- <pre>{{ preRequisitosFromCursoSelect | json }}</pre> -->
                <div class="col-1 text-center">
                    <div class="bg-bluegray-900 text-white border-round py-1 mb-2 -mx-1">{{ ciclo.ciclo }}</div>
                    <div class="flex flex-column gap-2 example-list align-items-center"
                    cdkDropList
                        [cdkDropListData]="ciclo.cursosMalla"
                        (cdkDropListDropped)="drop($event)">
                        @for ( curso of ciclo.cursosMalla; track curso) {
                            <div 
                                cdkDrag
                                [cdkDragStartDelay]="cursoMallaSelectPreRequisito().idMalla == 0 ? 100000 : 0"
                                [cdkDragDisabled]="cursosMallaPreRequisito().includes( curso )"
                                (mouseenter)="hoverClass( curso )"
                                (mouseleave)="removeClass( curso )"
                                (dblclick)="!isModal() ? selectPreRequisitoPadre( curso ) : ''"
                                (click)="cursoPreRequisito?.idMalla != 0 ? selectPreRequsitoHijo( curso ) : ''"
                               
                              
                                [ngClass]="
                                 {   'bg-yellow-500 cursor-pointer': curso.cicloNumero < cursoPreRequisito?.curso.cicloNumero && !preRequisitosFromCursoSelect.includes(curso.idMalla),
                                     'bg-green-200 border-yellow-500':  curso.cicloNumero < cursoPreRequisito?.curso.cicloNumero && preRequisitosFromCursoSelect.includes(curso.idMalla) && preRequisitosFromCursoSelect.length > 0,
                                     'bg-blue-200': curso.preRequisitos.length > 0,
                                     'border-3 border-yellow-500': cursoPreRequisito && cursoPreRequisito?.idMalla == curso.idMalla,
                                     'border-1 border-dashed border-gray-400': cursoPreRequisito?.idMalla != curso.idMalla,
                                 }"
                                [attr.id]="'card-' + curso.idMalla"
                                class="
                                 text-black f-8
                                 border-1 border-round
                                 w-full
                                 h-4rem
                                 align-content-center
                                 font-semibold px-1
                                 
                                 shadow-3"
                                 >
                            
                                <div>{{ curso.nombreCurso }}</div>
                                <div class="font-normal text-gray-800">{{ curso.codigoCurso }}</div>
                            </div>
                        }
                    </div>
                    
                </div>
 
            } 
            
            <svg id="arrowContainer" class="arrow-container"></svg>
        }
    </div>
</div>


<ng-template #templateCursoDesfasadoList let-data>
    <mat-dialog-content>
        <curso-desfasado-list></curso-desfasado-list>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <ui-button color="secondary" label="Cancelar" mat-dialog-close="cancelar" class="m-r-10"></ui-button>
        <ui-button color="primary" label="Revertir Desfase" [disabled]="cursoDesfasadoSelected().id == 0" (onClick)="revertirDesfaseConfirm()"></ui-button>
    </mat-dialog-actions>
</ng-template>


<ng-template #templateCursoAdd let-data>
    <mat-dialog-content>

        <div class="row">
            <div class="col-8 overflow-auto h-28rem">
                @for( curso of cursosList(); track curso; ) {
                    <mat-checkbox class="example-margin border-1 border-round border-gray-400 w-25rem" ()>
                        <div class=" px-4 py-2">
                            {{ curso.nombreCurso }}
                        </div>
                    </mat-checkbox>
                }
            </div>
    
            <div class="col-4 overflow-auto h-28rem">
                <mat-radio-group [(ngModel)]="cicloSelect">
                    @for (ciclo of cicloList(); track ciclo; let i = $index) {
                        <div class="price-check m-b-5 w-13rem">
                        <mat-radio-button color="primary" class="w-100 p-0" [value]="ciclo">
                            <div class="row align-item-center">
                            <div class="col-12">
                                <div class="flex align-item-center popular m-b-0"
                                >Ciclo {{ ciclo.definicion }}
                                </div>
                                <span class="text-muted m-b-0">{{ ciclo.cicloLetra }}</span>
                            </div>
                
                            </div>
                        </mat-radio-button>
                        </div>
                    }
                </mat-radio-group>
            </div>
        </div>

    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <ui-button color="secondary" label="Cancelar" mat-dialog-close="cancelar" class="m-r-10"></ui-button>
        <ui-button color="primary" label="Agregar" (onClick)="agregar()"></ui-button>
    </mat-dialog-actions>
</ng-template>


<ng-template #templateCursoImport let-data>
    <mat-dialog-content>
        <curso-import-template></curso-import-template>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <ui-button color="secondary" label="Cancelar" mat-dialog-close="cancelar" class="m-r-10"></ui-button>
        <ui-button color="primary" label="Importar" (onClick)="guardarCursosImport()" [disabled]="file().files.length == 0"></ui-button>
    </mat-dialog-actions>
</ng-template>