
<ui-button color="red" tooltip="Limpiar cursos" class="flex justify-content-center my-2" classButton="w-max" (onClick)="eliminarCursosConfirm()">
    Limpiar Cursos
</ui-button>
<div class="row" cdkDropListGroup [ngClass]="cursoSelectPreRequisito().id != 0 ? 'w-9' : 'w-12'">
    @if ( cursosByCiclo().length == 0 ) {
    
        <ui-button-icon color="primary" icon="ti ti-plus" tooltip="Agregar curso" class="flex justify-content-center my-2" (onClick)="openFormCurso( templateCursoAdd, 'Crear' )"></ui-button-icon>


    }


 
     <div class="flex gap-2">
         @for (ciclo of cursosByCiclo(); track ciclo) {
             @if ( ciclo.idCiclo < cursoSelectPreRequisito().idCiclo || cursoSelectPreRequisito().idCiclo == 0 ) {
                <div class="col-1 text-center">
                    <div class="bg-bluegray-900 text-white border-round py-1 mb-2 -mx-1">{{ ciclo.ciclo }}</div>
                    <div class="flex flex-column gap-2 example-list align-items-center"
                        cdkDropList
                        [cdkDropListData]="ciclo.cursos"
                        (cdkDropListDropped)="drop($event)">
                        @for ( curso of ciclo.cursos; track curso) {
                            <div 
                                [cdkContextMenuTriggerFor]="options"
                                (auxclick)="openOptions($event, curso, ciclo)"
                                cdkDrag
                                [cdkDragStartDelay]="cursoSelectPreRequisito().id == 0 ? 0 : 0"
                                [cdkDragDisabled]="preRequisitos().includes( curso )"
                                (mouseenter)="hoverClass( curso )"
                                (mouseleave)="removeClass( curso )"
                                [id]="'pre-'+curso.id"
                                class="text-black f-8 border-1 border-round w-full h-4rem align-content-center font-semibold px-1 border-dashed shadow-3 border-gray-400"
                            >
                                <div>{{ curso.nombreCurso }}</div>
                                <div class="font-normal text-gray-800">{{ curso.codigoCurso }}</div>
                            </div>
                        }
                    </div>

                    @if (!readonly) {
                        <ui-button-icon color="primary" icon="ti ti-plus" tooltip="Agregar curso" class="flex justify-content-center my-2" (onClick)="openFormCurso( templateCursoAdd, 'Crear', ciclo )"></ui-button-icon>
                    }
                </div>
             }


         }
     </div>
     <ng-template #options>
        <div class="example-menu border-1 border-gray-300" cdkMenu>
            <button (click)="openFormCurso( templateCursoAdd, 'Editar' )" class="example-menu-item" cdkMenuItem><i class="ti ti-pencil f-16 pr-2 text-blue-700"></i>Editar</button>
            <mat-divider></mat-divider>
            <button (click)="eliminarConfirm()" class="example-menu-item" cdkMenuItem><i class="ti ti-trash f-16 pr-2 text-red-700"></i>Eliminar</button>
            @if ( planesDeEstudio().length > 1 && !readonly  ) {
                <mat-divider></mat-divider>
                <button (click)="renovar( templateCursoAdd )" class="example-menu-item" cdkMenuItem><i class="ti ti-refresh f-16 pr-2 text-purple-700"></i>Renovar</button>
                <mat-divider></mat-divider>
                <button (click)="revertirConfirm()" class="example-menu-item" cdkMenuItem><i class="ti ti-arrow-back-up f-16 pr-2 text-orange-700"></i>Revertir</button>
                <mat-divider></mat-divider>
                <button (click)="desfasarConfirm()" class="example-menu-item" cdkMenuItem><i class="ti ti-alert-circle f-16 pr-2 text-red-700"></i>Desfasar</button>
            }
        </div>
      </ng-template>

    
    <curso-pre-requisito></curso-pre-requisito>

</div>
<!-- <pre>{{ cursoOption() | json }}</pre> -->
<ng-template #templateCursoAdd let-data>
    <curso-add [readonlyCiclo]="cursoOption().id == 0 ? false : true"></curso-add>
</ng-template>



    <ng-template #templatePlan let-data>
        <div class="bg-yellow-500 text-white-700 font-bold text-center">NO ES POSIBLE {{ accionCurso }} EL CURSO</div>
        <plan-estudio-card [planEstudio]="planEstudioEncontrado" tipo="asignar"></plan-estudio-card>
    </ng-template>


<!-- 
  <div class="content" role="main"><table>
    <thead>
        <tr>
            <th>Ciclo</th>
            <th>Orden</th>
            <th>Cod. Curso</th>
            <th>Nombre Curso</th>
            <th>HT</th>
            <th>HP</th>
            <th>TH</th>
            <th>Créditos</th>
            <th>Tipo Curso</th>
            <th>Tipo Estudio</th>
            <th>Competencia</th>
        </tr>
    </thead>
    <tbody>
    @for(row of rows; track $index) {
        <tr>
            <td>{{row.ciclo}}</td>
            <td>{{row.orden}}</td>
            <td>{{row.codigo_curso}}</td>
            <td>{{row.nombre_curso}}</td>
            <td>{{row.ht}}</td>
            <td>{{row.hp}}</td>
            <td>{{row.th}}</td>
            <td>{{row.creditos}}</td>
            <td>{{row.tipo_curso}}</td>
            <td>{{row.tipo_estudio}}</td>
            <td>{{row.competencia}}</td>
        </tr>
    }
    </tbody>
  </table>
</div> -->
