// .card-curso:hover{
//     animation-delay: 1000ms;
//     scale: 1.005;
//     transition: 200ms;
//     z-index: 99999;
//     background: white;
    
//     transform: scale(1.4);
// }

.example-list {
    // width: 500px;
    max-width: 100%;
    // border: solid 1px #ccc;
    min-height: 60px;
    display: block;
    background: white;
    border-radius: 4px;
    // overflow: hidden;
  }
  
  .box {
    // padding: 20px 10px;
    // border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    // display: flex;
    // flex-direction: row;
    // align-items: center;
    // justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
              0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-custom-placeholder {
    background: #ccc;
    border: dotted 3px #999;
    min-height: 60px;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .box:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }

  .cdk-drag-disabled {
    background: #ccc;
    cursor: not-allowed;
    user-select: none;
  }

  // .hov-cursor {
  //   display: none!important;
  // }

  // .hov-cursor:hover {
  //   display: flex!important;
  // }

  // .card-curso:hover ~ .hov-cursor{
  //   // display: block!important;
  //   background-color: #910505;
    
  //   display: flex!important;
    
  // }
  .card-curso {
    transition: 1s;
  }


  .example-context-area {
    display: inline-grid;
    border: 2px dashed black;
  }
  
  .example-context-area .example-context-area {
    margin: 100px;
    width: 200px;
    height: 100px;
  }
  
  .example-menu {
    display: inline-flex;
    flex-direction: column;
    min-width: 180px;
    max-width: 280px;
    background-color: rgb(255, 255, 255);
    padding: 6px 0;
  }
  
  .example-menu-item {
    background-color: transparent;
    cursor: pointer;
    border: none;
  
    user-select: none;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;
  
    display: flex;
    align-items: center;
    flex-direction: row;
    flex: 1;
  }
  
  .example-menu-item:hover {
    background-color: rgb(208, 208, 208);
  }
  
  .example-menu-item:active {
    background-color: rgb(170, 170, 170);
  }