.auth-main {
  .auth-wrapper {
    &.version-2 {
      display: flex;
      align-items: center;
      background: var(--accent-50);

      .auth-side-content {
        overflow: hidden;
        // height: 100vh;
        align-self: self-end;
        .img-auth-side {
          // height: 100vh;
        }
      }
    }
  }
}
