<mat-dialog-content>
<!-- 
<pre>{{ deleteRoles | json }}</pre>
<pre>{{ newRoles | json }}</pre> -->

    <div class="row">
            <div class="col-12">
                <div class="personal-info">
                    <div class="text-center m-t-4 flex justify-content-left w-full overflow-hidden " style="box-sizing: border-box;">
                    <img src="assets/images/user/avatar-5.jpg" class="img-fluid wid-60 border-50" alt="avatar" />
                    <div class="flex flex-column text-left ml-3 align-self-center">
                        <div class="f-16 f-w-600">{{ usuario.apellidoPaterno +' '+ usuario.apellidoMaterno +' '+ usuario.nombres}}</div>
                        <p class="text-muted text-xs" >{{ usuario.correoInstitucional}}</p>
                    </div>
                    </div>
                </div>
            </div>
        
            <div class="col-6">
            <!-- <pre>{{ roles() | json }}</pre> -->
                <app-card [padding]="20" headerClassTemplate="w-full">
                <ng-template #headerTitleTemplate>
                    <div class="flex justify-content-between gap-3">
                        <div class="f-16 f-w-600">Roles</div>
                        <input class="w-full h-1rem pl-3 border-1 border-gray-300 py-2 border-round" [ngModel]="buscador" (ngModelChange)="$event;filtrar($event)" placeholder="Buscador...." #btnBuscar/>
                    </div>
                </ng-template>
                    @if (listaRoles.length == 0) {
                        <!-- {{ roles | json }} -->
                        <div class="mt-5 text-center">
                            <span class="text-gray-600 f-16">NO HAY ROLES PARA ASIGNAR</span>
                        </div>
                    }
                    <div
                        cdkDropList
                        #todoList="cdkDropList"
                        [cdkDropListData]="(this.listaRoles)"
                        [cdkDropListConnectedTo]="[doneList]"
                        class="example-list"
                        (cdkDropListDropped)="drop($event, 'eliminar')">
                        @for (rol of listaRoles; track rol) {
                        <div class="example-box" cdkDrag>{{rol.rol}}</div>
                        }

                    </div>

                </app-card>

            </div>
            <div class="col-6">
                <app-card cardTitle="Roles Asignados" [padding]="20" cardClass="">
                    <div
                    
                    cdkDropList
                    #doneList="cdkDropList"
                    [cdkDropListData]="(this.usuariosRol)"
                    [cdkDropListConnectedTo]="[todoList]"
                    class="example-list"
                    (cdkDropListDropped)="drop($event, 'asignar')">
                    @for (userRol of usuariosRol; track userRol) {
                    <div (click)="setRol(userRol)" class="example-box flex flex-column lg:flex-row" cdkDrag>
                    <span class="font-bold mx-4">{{ userRol.rol }}</span>
                        
                        <div class="flex flex-column mr-4 sm:ml-6">
                            @if ( userRol.usuario && currentRol().rol ==='Administrador' ) {
                                <mat-slide-toggle
                                            class="f-w-500 "
                                            color="primary"
                                            [checked]="userRol.estado == 'ACTIVO' ? true : false"
                                            (change)="changeEstadoRol($event, userRol)"
                                        >
                                            {{ userRol.estado }}
                                </mat-slide-toggle>
                                @if (!(userRol.rol.startsWith('Director'))) {
                                <mat-slide-toggle
                                            class="f-w-500"
                                            color="primary"
                                            [checked]="userRol.alta == 'ALTA'"
                                            (change)="changeAltaRol($event, userRol)"
                                                    
                                        >
                                            {{ userRol.alta }}
                                </mat-slide-toggle>
                                }

                                @else {
                                    <div class="mt-2 p-1 border-round text-center"
                                    [ngClass]="{'bg-red-100 text-red-700': userRol.alta === 'NO ALTA',
                                    'bg-green-100 text-green-700' : userRol.alta === 'ALTA'}">{{userRol.alta}}</div> 
                                }
                            }
                            @else {
                                <div class="mt-1 ml-3 border-round text-center" 
                                [ngClass]="{'bg-red-100 text-red-700': userRol.estado === 'SUSPENDIDO',
                                'bg-green-100 text-green-700' : userRol.estado === 'ACTIVO'}">{{userRol.estado}}</div> 

                                <div class="mt-1 ml-3 border-round text-center"
                                [ngClass]="{'bg-red-100 text-red-700': userRol.alta === 'NO ALTA',
                                'bg-green-100 text-green-700' : userRol.alta === 'ALTA'}">{{userRol.alta}}</div> 
                            }
                        </div>

                    </div>
                    }

                </div>
                </app-card>
            </div>
    </div>


</mat-dialog-content>


<mat-dialog-actions align="end">
    <ui-button color="secondary" label="Cancelar" mat-dialog-close="cancelar" class="m-r-10"></ui-button>
    <ui-button color="primary" [disabled]="newRoles.length == 0 && deleteRoles.length == 0" (onClick)="guardar()">Guardar</ui-button>
</mat-dialog-actions>
