<app-card class="flex" headerClassTemplate="m-auto" headerClass="px-4 py-3" cardClass="w-18rem bg-primary-100" cardContentClass="h-full flex flex-column justify-content-between"> <!-- flex align-items-center gap-4 -->
    <ng-template #headerTitleTemplate >
        <div class="flex flex-column">
          <div class="flex gap-2 text-sm">
            {{ programa.nombrePrograma }}

          </div>
        </div>
    </ng-template>
  
    <!-- DIRECTOR DE ESCUELA START -->
    <!-- <div class=""> -->

      <div class="text-center">
        <div class="user-upload wid-40 m-auto mb-2" [matTooltip]="currentRol().rol == 'Vicerrectorado Académico' ? 'Cambiar de Director de Escuela': ''" (click)="currentRol().rol == 'Vicerrectorado Académico' ? openModalDirector(): ''">
          <img src="assets/images/user/avatar-1.png" alt="img" class="img-fluid" />
          @if ( currentRol().rol == 'Vicerrectorado Académico' ) {
            <label for="uplfile" class="img-avatar-upload">
              <i class="ti ti-refresh f-24 m-b-5"></i>
            </label>
          }
        </div>
        <div class="flex align-items-center gap-2 bg-accent-200 text-gray-900 px-2 py-2 border-round justify-content-center">
          <div class="flex flex-column">
              <!-- {{programaSelect().nombre}} -->
              <span class="f-14 f-w-500"> Director de Escuela</span>
              <span class="f-10 f-w-500"> {{ programa.nombreDirector }}</span>
          </div>
        </div>
      </div>
      <!-- DIRECTOR DE ESCUELA END -->

      <!-- LOCAL COMPONENT -->
      
      <div class="flex flex-wrap my-2 gap-2">
        @for ( local of programa.locales; track local ) {
            <div 
              class="m-auto f-10 bg-accent-100 f-w-600 text-primary-500 px-4 py-2 border-round flex align-item-center gap-2 cursor-pointer"
              (click)="abrirUbicacionLocal()"
              matTooltip="Ver Ubicación"
            >
              <i class="ti ti-map-pin f-14"></i>
              <div>{{ local.nombreLocal }}</div>
            </div>
        }
      </div>  

      <mat-divider></mat-divider>
      @if ( currentRol().rol == 'Vicerrectorado Académico' ) {
        <div class="flex gap-2 my-2 justify-content-center">

          @if ( programa.locales.length == 1 ) {
  
            <ui-button
              tooltip="Eliminar Programa"
              color="red"
              icon="ti ti-trash f-18"
              (click)="eliminarProgramaConfirm(asignacion, programa)">
            </ui-button>   
  
          } @else { 
  
            <ui-button
              tooltip="Eliminar"
              color="red"
              icon="ti ti-trash f-18"
              [matMenuTriggerFor]="optionsLocal"
  
            >
            </ui-button>
  
            <mat-menu #optionsLocal="matMenu">
              @for ( local of programa.locales; track local ) {
                <button mat-menu-item (click)="eliminarProgramaIndividualConfirm(asignacion, programa, local.idLocal)">{{ local.nombreLocal }}</button>
              }
              <button mat-menu-item (click)="eliminarProgramaConfirm(asignacion, programa)"> ELIMINAR PROGRAMA </button>
            </mat-menu>
          }
          <ui-button icon="ti ti-plus f-18" tooltip="Agregar Local" color="blue" (click)="openModalLocal( asignacion, programa )"></ui-button>
          <ui-button icon="ti ti-mail-forward f-18" tooltip="Enviar mensaje" color="primary" (click)="enviarMensaje( asignacion, programa )"></ui-button>
  
        </div>
      }

    <!-- </div> -->

  </app-card>