@if(!loading){
  <!-- {{ listaCursosAperturados() | json }} -->
  <div class="flex h-screen gap-2" cdkDropListGroup>
    <div class="flex-1 overflow-y-auto">
      <app-card headerClassTemplate="py-10 flex justify-content-between align-item-center w-full">
        <ng-template #headerTitleTemplate>
          <div>
            <div>CURSOS  {{selectSemestrelocal().DescripcionSemestre}} </div>
          </div>
          <!-- <input type="text" [(ngModel)]="searchTerm" placeholder="Buscar curso..." class="inputtext component" /> -->
        </ng-template>
        <div class="col-12 flex flex-wrap" cdkDropList [cdkDropListData]="listaCursosAperturados()"
          (cdkDropListDropped)="drop($event,'eliminar')">
          @for (curso of listaCursosAperturados(); track curso) {
          <div class="col-3 flex flex-row gap-2" cdkDrag>
            <div
              class="text-black f-8 border-1 border-round w-full h-4rem align-content-center font-semibold px-1 border-dashed shadow-3 border-gray-400 text-center">
              <div>{{ curso.nombreCurso }}</div>
              <div class="font-normal text-gray-800">{{ curso.codigoInternoCurso }}</div>
            </div>
          </div>
          }
        </div>
        <!-- <pre>{{ listaCursosAperturados() | json }}</pre> -->
      </app-card>
    </div>
  
    <!-- Segunda tarjeta -->
    <div class="flex-1 overflow-y-auto">
      <app-card headerClassTemplate="py-10 flex justify-content-between align-item-center w-full">
        <ng-template #headerTitleTemplate>
          <div>
            <div>CURSOS QUE DOMINA</div>
          </div>
        </ng-template>
        <div class="col-12 flex flex-wrap" cdkDropList [cdkDropListData]="listarCursoDominioDocente()"
          (cdkDropListDropped)="drop($event, 'agregar')">
          @if(listarCursoDominioDocente().length > 0){
            @for (curso of listarCursoDominioDocente(); track curso) {
            <div cdkDrag class="col-3 flex flex-row gap-2">
              <div
                class="text-black f-8 border-1 border-round w-full h-4rem align-content-center font-semibold px-1 border-dashed shadow-3 border-gray-400 text-center">
                <div>{{ curso.nombreCurso }}</div>
                <div class="font-normal text-gray-800">{{ curso.idCursoDominio }}</div>
              </div>
            </div>
            }
          }
          @else {
            <div
            class="boton-parpadeante flex gap-2 border-round border-1 border-dashed bg-gray-100 w-full h-10rem justify-content-center align-items-center border-gray-400 hover:bg-blue-50 hover:border-blue-500 hover:text-blue-500">
            <h5 class="text-center mt-2 pt-2 f-14 font-italic">No se han ingresados cursos que domina el docente, arrastre y suelte aquí para asignar un curso</h5>
        </div>
          }
        </div>
        <!-- <pre>{{ listarCursoDominioDocente().length }}</pre> -->
      </app-card>
    </div>
  </div>
  
  
}
@else {
  <ui-loading-progress-bar></ui-loading-progress-bar>
}