<!-- {{ categoriaSelected() | json }} -->
@if( showFormAddSubCategoria() ) {
    <form [formGroup]="formAdd" class="px-4">
        <div class="row border-1 mx-0 border-round border-gray-300 p-3">
            <div class="font-semibold">Nueva Sub Categoria</div>
            <div class="col-12">
                <ui-inputt label="Nombre" formControlName="nombre" classInput="small" [validator]="validatorNombre"></ui-inputt>
            </div>

            <div class="flex gap-2 justify-content-end">
                <ui-button label="Cancelar" (onClick)="cerrarForm()"></ui-button>
                <ui-button color="primary" [disabled]="formAdd.invalid" (onClick)="onSubmit()">{{ subCategoriaEdit().id != 0 ? 'Editar' : 'Guardar' }}</ui-button>
            </div>
        </div>
    </form>
}
<!-- @else {
    <div class="flex gap-2 justify-content-start px-4 w-30rem -mt-4">
        <ui-button color="primary" label="Agregar" class="m-r-10" (onClick)="showFormAddSubCategoria.set( true )"></ui-button>
    </div>
} -->
<mat-dialog-content>
    <!-- <mat-divider class="py-3"></mat-divider> -->
    <sub-categoria-list></sub-categoria-list>
</mat-dialog-content>
<!-- <mat-dialog-actions align="end">
</mat-dialog-actions> -->