<mat-radio-group [ngModel]="cursoMallaRenovadoSelected()" (ngModelChange)="cursoMallaRenovadoSelected.set( $event )">
    @for (curso of cursosRenovados; track curso; let i = $index) {
      <div class="price-check m-b-15 w-full">
        <mat-radio-button color="primary" class="w-100" [value]="curso">
          <div class="row align-item-center justify-content-between">
            <!-- <div class="flex justify-content-between"> -->
              <div class="col-5">
                <div class="flex align-item-center popular m-b-0 font-bold"
                >{{ curso.nombreCurso }}
              </div>
              <div class="flex justify-content-between">
                <span class="text-muted m-b-0">CICLO {{ curso.cicloRomano }}</span>
                <span class="text-white m-b-0 border-round bg-red-500 font-medium shadow-3 px-3">ELIMINAR</span>
              </div>

            </div>
            <div class="col-1 p-0">
              <i class="ti ti-arrow-narrow-right f-20 bg-yellow-500 border-round px-2"></i>
            </div>
            <div class="col-5">
              <div class="flex align-item-center popular m-b-0 font-bold"
              >{{ curso.nombreCursoRenovado }}
              </div>
              <div class="flex justify-content-between">
                <span class="text-muted m-b-0">CICLO {{ curso.cicloRomanoRenovado }}</span>
                <span class="text-white m-b-0 border-round bg-green-500 font-medium shadow-3 px-3">ACTIVO</span>
              </div>
            </div>
            <!-- </div> -->

          </div>
        </mat-radio-button>
      </div>
    }
  </mat-radio-group>
  @if ( cursoMallaRenovadoSelected().idCurso !== 0 && cursosRenovados.length ) {
    <ui-alert type="info">
      De confirmarse la reversión, el curso de <b>{{ cursoMallaRenovadoSelected().nombreCurso }}</b> será eliminado. En su lugar, el curso de <b>{{ cursoMallaRenovadoSelected().nombreCursoRenovado }}</b> volverá a estar activo.
    </ui-alert>
  }
  @if ( cursoMallaRenovadoSelected().idCurso == 0 && cursosRenovados.length > 0 )  {
    <ui-alert type="info">
      De confirmarse la reversión, el curso con la etiqueta <b>ELIMINAR</b> será eliminado. En su lugar, el curso con la etiqueta<b>ACTIVO</b> volverá a estar activo.
    </ui-alert>
  }
  <ui-card-not-items *ngIf="!cursosRenovados.length" text="No hay cursos renovados"></ui-card-not-items>

  <!-- <pre>{{ cursoMallaRenovadoSelected() | json}}</pre> -->