@if (loading) {
<ui-loading-progress-bar></ui-loading-progress-bar>
}

@else {
<!-- <pre> {{listAnexos()   |json}}</pre> -->
<!-- <pre> {{listSolicitud() | json}} </pre> -->
<!-- <pre>{{ listOrdenCarpeta() | json }}</pre> -->
<div class="grid">
    <div class="col-12">
        @if (modo !== 'tree') {
        <div class="flex justify-content-start mb-2 gap-4">
            <ui-button icon="pi pi-search f-18 m-r-5" label="Volver a buscar Subtarea" (onClick)="volver()"></ui-button>
            <!-- @if (listSolicitud().length > 0) {
            <ui-button icon="pi pi-file f-18 m-r-5" label="Ordenar Carpetas"
                (onClick)="visibleCarpeta = true"></ui-button>
            } -->
        </div>
        }
        <div class="flex justify-content-between align-items-start gap-2">
            @if(listSolicitud().length == 0){
            <app-card cardClass="mb-2" [showHeader]="false" class="flex-1">
                <div [formGroup]="formSolicitudCompra">
                    <div class="flex justify-content-between gap-4 mb-3">
                        <div class="flex-1">
                            <span class="font-bold text-xs">Datos de la Actividad</span>
                            <div
                                class="text-xs p-2 mt-2 border-round surface-100 bg-transparent border-1 border-gray-400">
                                {{ selectSubTarea().nombreSubTarea }}
                            </div>
                        </div>

                    </div>
                    <div class="flex justify-content-between gap-4 mb-3">
                        <div class="flex-1">
                            <span class="text-xs font-bold">Código de Subtarea</span>
                            <div
                                class="text-xs p-2 mt-2 border-round surface-100 bg-transparent border-1 border-gray-400">
                                {{ selectSubTarea().codigoSubTarea }}
                            </div>
                        </div>
                        <div class="flex-1">
                            <span class="font-bold text-xs">Presupuesto Programado</span>
                            <div
                                class="text-xs p-2 mt-2 border-round surface-100 bg-transparent border-1 border-gray-400">
                                S/. {{ presupuestoProgramado }}
                            </div>
                        </div>
                    </div>
                    <div class="flex justify-content-between gap-4 mb-3">
                        <div class="flex-1">
                            <ui-select [options]="listLocal" formControlName="alcance"
                                label="Seleccione su local"></ui-select>
                        </div>
                        <div class="flex-1">
                            <ui-select [options]="listAreas" formControlName="area" label="Área"></ui-select>
                        </div>
                    </div>

                    <div class="flex justify-content-between gap-4 mb-3 w-full">

                        <ui-input class="w-full" classInput="small" label="Código Plan de Trabajo"
                            formControlName="codigoPlan" [maxlength]="maxLengthCodigo" [minlength]="minLengthCodigo"
                            [patternErrorMessage]=" 'No permite ingresar números espacios o caracteres especiales' "></ui-input>
                    </div>
                </div>
            </app-card>
            }
            @else {
            <div class="relative flex-1">
                <p-panel [toggleable]="true" [collapsed]="true">
                    <ng-template #header>
                        <div class="flex items-center gap-2">
                            <span class="font-bold">
                                {{ selectSubTarea()?.nombreSubTarea || selectSubTarea()?.datosActividad }} -
                                {{ listSolicitud()[0].idSubTarea }}
                            </span>
                        </div>
                    </ng-template>

                    <app-details-subtarea></app-details-subtarea>
                </p-panel>
            </div>
            }
            <p-button (onClick)="visibleTimeLine = true" class="shadow-xl mt-2" rounded="true" icon="pi pi-hourglass"
                pTooltip="Línea de Tiempo" tooltipPosition="top" />

        </div>

        @if(selectProveedorProducto().length === 0 && listSolicitud().length === 0) {

        <div class="flex flex-column align-items-center gap-3 py-6 text-color-secondary">
            <i class="pi pi-inbox" style="font-size:2.5rem"></i>
            <span class="text-sm">No hay productos asignados a la solicitud de
                pedido, para seleccionar los productos, primero debe ingresar datos en el formulario de arriba</span>
            <ui-button color="primary" icon="pi pi-plus" label="Seleccionar productos"
                (onClick)="visibleSelectProductos = true" [disabled]="formSolicitudCompra.invalid"></ui-button>
        </div>
        }

        @else {
        <div class="flex items-center justify-between w-full gap-3">

            <div class="flex items-center gap-2">
                @if (listSolicitud().length > 0 ) {

                <p-speedDial showIcon="pi pi-bars" hideIcon="pi pi-times" direction="up" buttonClass="p-button-primary"
                    (onClick)="popover.toggle($event)">
                </p-speedDial>
                <p-button icon="pi pi-sitemap" [rounded]="true" styleClass="mt-2"
                    (onClick)="visibleGraficoCarpetas = true" />

                <p-popover #popover [dismissable]="false">
                    <div class="flex flex-wrap gap-2 justify-end">
                        @for (fase of listAnexos()[0]?.fases; track $index) {
                        @for (anexo of fase.anexos; track $index) {

                        <!-- @if (
                        
                        permisosSolicitud.ESCRITURA
                        ) { -->
                        <p-splitbutton [label]="anexo.nombre" icon="pi pi-file-pdf" dropdownIcon="pi pi-chevron-down"
                            (onClick)="mostrarModalArchivo(anexo)" [model]="itemsPorAnexo.get(anexo.idAnexo)">
                        </p-splitbutton>
                        <!-- } -->
                        }
                        }
                    </div>
                </p-popover>


                }

                <!-- @else {

                <div class="border-blue-700 border-dashed border-1 p-2 text-blue-700 font-bold border-round">
                    PRIMERO DEBE SUBIR SU ORDEN DE COMPRA
                </div>
                } -->
            </div>

            <div class="flex items-center gap-2">
                @if (selectProveedorProducto().length > 0 && listSolicitud().length == 0) {
                <ui-button color="primary" icon="ti ti-refresh" label="Agregar" icon="pi pi-plus"
                    (onClick)="visibleSelectProductos = true">
                </ui-button>
                <ui-button [disabled]="botonGuardarSolicitudDeshabilitado" color="primary" icon="pi pi-save"
                    label="Guardar Solicitud" (onClick)="guardar()">
                </ui-button>

                }

                <!-- @if (tempSelectedProveedorProductos.length > 0) {
                <ui-button icon="pi pi-file-pdf" label="Generar Orden"
                    (onClick)="generarOrdenDeCompra(anexoOrdenCompra!)">
                </ui-button>
                } -->
            </div>
        </div>
        <!--TABS PARA SOLICITUD DE COMPRAS Y ORDEN DE COMPRA-->

        <p-tabs [(value)]="value">
            <p-tablist>
                <p-tab [value]="0">Solicitud de Compra</p-tab>
                @if (listSolicitud().length > 0) {
                <p-tab [value]="1">Orden de Compra</p-tab>
                }
            </p-tablist>
            <p-tabpanels>
                <p-tabpanel [value]="0">
                    <!-- {{value}} -->
                    @if (value === 0) {
                    <ng-container>
                        <div class="grid" style="width:100%;">
                            <div class="col-12 md:6">

                                <p-table [scrollable]="true" scrollHeight="500px" #dt1 [value]="tablaProductos"
                                    dataKey="idSolicitudCompraDetalle" [paginator]="true" [rows]="10"
                                    [rowsPerPageOptions]="[5,10,20,50]" [loading]="loading"
                                    [globalFilterFields]="['descripcionDelBien','nombreProveedor','ruc','cantidad']"
                                    rowGroupMode="subheader" sortField="proveedor" groupRowsBy="proveedor"
                                    sortMode="single">

                                    <ng-template #groupheader let-rowData>
                                        <tr pRowGroupHeader class="bg-blue-50">
                                            <td colspan="7">
                                                <div class="flex gap-4 text-xs">
                                                    <span>{{ rowData.proveedor }}</span>
                                                    <div class="bg-blue-100 text-blue-800 border-round">
                                                        <span class="m-2">RUC: {{ rowData.ruc }}</span>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </ng-template>

                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th class="text-xs">Cantidad</th>
                                            @if (listSolicitud().length > 0) {
                                            <th class="text-xs">Stock Actual</th>
                                            <th class="text-xs">Stock Mínimo</th>
                                            }
                                            <th class="text-xs">Unidad Medida</th>
                                            <th class="text-xs">Producto o Servicio</th>
                                            <th class="text-xs">Precio Unitario</th>
                                            <th class="text-xs">Precio Total</th>
                                            @if (listSolicitud().length == 0) {
                                            <th class="text-xs">Accion</th>
                                            }
                                        </tr>
                                    </ng-template>

                                    <ng-template pTemplate="body" let-row>
                                        <tr [ngClass]="{ 'bg-green-50': row.ordenCompra, 'bg-gray-50': !row.ordenCompra}"
                                            class="mb-2">
                                            @if (listSolicitud().length === 0) {
                                            <td pEditableColumn class="text-xs">
                                                <p-cellEditor>
                                                    <ng-template pTemplate="input" class="text-xs">
                                                        <p-inputNumber [(ngModel)]="row.cantidad" [min]="1"
                                                            (ngModelChange)="recalcularFila(row)"></p-inputNumber>
                                                    </ng-template>
                                                    <ng-template pTemplate="output" class="text-xs">
                                                        {{ row.cantidad }}
                                                    </ng-template>
                                                </p-cellEditor>

                                            </td>
                                            }
                                            @else {
                                            <td>
                                                <span class="ml-3" class="text-xs"> {{row.cantidad}} </span>
                                            </td>
                                            }
                                            @if (listSolicitud().length > 0) {
                                            <td class="text-center">
                                                <span
                                                    class="flex align-items-center justify-content-center border-round font-semibold text-xs"
                                                    [ngClass]="{'bg-green-100 text-green-700': row.stock > row.stockMinimo,
                                                    'bg-yellow-100 text-yellow-700' : row.stock == row.stockMinimo,
                                                    'bg-red-100 text-red-700': row.stock < row.stockMinimo}">
                                                    {{ row.stock <= 0 ? 'Sin Stock' : row.stock }}
                                                </span>
                                            </td>

                                            <td class="text-center">
                                                <span class="text-xs text-800">
                                                    {{ row.stockMinimo }}
                                                </span>
                                            </td>
                                            }
                                            <td class="text-xs"> {{row.unidad}} </td>
                                            <td class="text-xs">{{ row.productoNombre }}</td>
                                            <td class="text-xs">S/. {{row.precio | number:'1.2-2'}}</td>
                                            <td class="text-xs"> S/. {{ (row.precio * row.cantidad) | number:'1.2-2' }}
                                            </td>
                                            @if (listSolicitud().length == 0) {
                                            <ui-icon-button icon="pi pi-times" (onClick)="quitarProducto(row)"
                                                color="danger" tooltip="Eliminar"></ui-icon-button>
                                            }
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>
                        </div>

                        <div class="flex justify-content-end mt-4">

                            <div class="p-3 border-round bg-blue-50 flex flex-column gap-2">

                                <div class="flex justify-content-between gap-5">
                                    <span class="font-semibold">Total Solicitud Compra </span>
                                    <span class=" font-bold" [ngClass]="{'text-green-600': totalGeneral <= presupuestoProgramado,
                                    'text-red-600':  totalGeneral > presupuestoProgramado }">
                                        S/ {{ totalGeneral | number:'1.2-2' }}
                                    </span>
                                </div>

                                <div class="flex justify-content-between gap-5">
                                    <span class="font-semibold">Presupuesto Programado</span>
                                    <span class="text-blue-600 font-bold">
                                        S/ {{ presupuestoProgramado | number:'1.2-2' }}

                                    </span>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    }
                </p-tabpanel>
                @if (listSolicitud().length > 0 ) {
                <p-tabpanel [value]="1">
                    @if (value === 1) {
                    <ng-container>
                        <!-- <pre> {{tablaProductos | json}} </pre> -->
                        <app-list-orden-compra-detalle
                            [tablaSolicitudCompra]="tablaProductos"></app-list-orden-compra-detalle>
                    </ng-container>
                    }
                </p-tabpanel>
                }
            </p-tabpanels>
        </p-tabs>
        }
    </div>
</div>
}
@if (visibleGraficoCarpetas) {
<app-grafico-tree-carpeta-anexo [(visible)]="visibleGraficoCarpetas"></app-grafico-tree-carpeta-anexo>
}

@if (visibleSelectProductos) {
<app-select-proveedor-producto [(visible)]="visibleSelectProductos"></app-select-proveedor-producto>
}

@if (visiblepdfOrdenCompra) {
<app-pdf-orden-compra [(visible)]="visiblepdfOrdenCompra" [modo]="'GENERAR'"></app-pdf-orden-compra>
}

@if (visibleSubirArchivo) {
<app-upload-archivo [(visible)]="visibleSubirArchivo"></app-upload-archivo>
}

@if (visibleCronograma) {
<app-list-cronogramas [(visible)]="visibleCronograma"></app-list-cronogramas>
}

@if (visibleCarpeta) {
<app-one-drive-carpetas [(visible)]="visibleCarpeta"></app-one-drive-carpetas>
}
@if (visibleTimeLine) {
<app-time-line-solicitud-compra [(visible)]="visibleTimeLine"></app-time-line-solicitud-compra>
}