@if (titleContent) {
    <div class="mail-content-table w-4 mx-2">
       
        
        <ng-scrollbar style="height: calc(100vh - 210px); min-width: auto;" visibility="hover" track="all">
          @if( dataSource.data.length == 0 ) {
            <mensajeria-no-messages text="No hay mensajes" icon="ti ti-mailbox f-60"></mensajeria-no-messages>
          
          } @else {
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 bg-accent-100">
              <ng-container matColumnDef="name" >
                <th mat-header-cell *matHeaderCellDef></th>
                <td
                  mat-cell
                  *matCellDef="let mail; let isLast = last; let isFirst = first"
                  (click)="mostrarHistorialMensajes( mail )"
                  class="{{toggle() ? 'w-18rem' : 'w-22rem'}} mail-option {{ mail.leido ? 'bg-white' : 'bg-primary-100'}}"
                  style="height: 94px;"
                  [ngClass]="{'border-round-top': isFirst, 'border-round-bottom': isLast}">
                  <div class="flex align-item-start {{toggle() ? 'w-16rem' : 'w-20rem'}}"> 
                    <img src="assets/images/user/avatar-3.png" alt="user-image" class="img-user wid-50 border-50" />
                    <div class="{{ mail.leido ? 'f-w-600' : 'f-w-600'}} f-14 m-l-10 text-truncate w-full">
                      <span class="capitalize">{{ mail.emisor.toLowerCase() }} {{ mail.leido }}</span>
                      <div class="flex-grow-1 details">
                        <p class="{{ mail.leido ? 'f-w-400' : 'f-w-600'}} m-b-0 text-truncate f-14"  appRemoveHtml>
                          {{ mail.mensaje }}
                        </p>

                      </div>
                      <span id="fecha" class="{{ mail.leido ? 'f-w-400' : 'f-w-600'}} f-12 block text-right text-gray-700">
                        {{ mail.fecha | date: 'dd MMM yyyy, h:mm a' }}
                      </span>
                    </div>
                  </div>
                  <div class="mail-button">
                    <ul class="list-inline m-b-0">
                      <li class="list-inline-item">
                        <a href="javascript:" class="avatar avatar-s text-muted" title="archive"><i class="ti ti-archive f-18"></i></a>
                      </li>
                      <li class="list-inline-item">
                        <a href="javascript:" class="avatar avatar-s text-muted" title="mail"><i class="ti ti-mail f-18"></i></a>
                      </li>
                    </ul>
                  </div>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
          }
        </ng-scrollbar>
      
      
    </div>
    <!-- <mensajeria-messages class="w-9"></mensajeria-messages> -->
     

    @if ( mensajeriaData().asignacion.idFacultad != 0) {
      <mensajeria-compose class="w-9"></mensajeria-compose>
    } @else { 

      @if ( selectMensaje().idMensaje == 0 ) {
        <mensajeria-no-messages class="w-9"></mensajeria-no-messages>
      } @else {
        
        <mensajeria-messages class="w-9"></mensajeria-messages>

      }
    }

     
     
  }
  @if (detailsContent) {
    <div class="details-content">
      <app-card [showHeader]="false" [padding]="16">
        <div class="title align-item-center">
          <ul class="list-inline">
            <li class="list-inline-item" (click)="backToMail()">
              <a href="javascript:" class="avatar avatar-s text-accent-900" matTooltip="left side" id="mail-backinbox">
                <i class="ti ti-chevron-left f-18"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <div class="flex align-item-center">
                <img src="assets/images/user/avatar-1.png" alt="user-image" class="img-user wid-40 border-50" />
                <div class="flex-grow-1 m-l-10">
                  <div class="f-16 f-w-600 text-truncate"> Matthew Hawkins </div>
                  <div class="m-b-0 text-muted mat-small"> From: &lt;tazeanu&#64;company.com&gt; </div>
                </div>
              </div>
            </li>
          </ul>
          <ul class="list-inline">
            <li class="list-inline-item text-muted"> 12 Jul 22 08:23 AM </li>
            <li class="list-inline-item">
              <div class="flex align-item-center">
                @if (unStar) {
                  <div class="pc-icon-checkbox">
                    <input class="form-check-input" matTooltip="star" type="checkbox" />
                    <i class="material-icons-two-tone pc-icon-uncheck">star_outline</i>
                    <i class="material-icons-two-tone text-warning pc-icon-check">star</i>
                  </div>
                }
                @if (star) {
                  <div class="pc-icon-checkbox">
                    <input class="form-check-input" matTooltip="star" type="checkbox" checked />
                    <i class="material-icons-two-tone pc-icon-uncheck">star_outline</i>
                    <i class="material-icons-two-tone text-warning pc-icon-check">star</i>
                  </div>
                }
  
                <div class="pc-icon-checkbox">
                  <input class="form-check-input" matTooltip="label" type="checkbox" />
                  <i class="material-icons-two-tone pc-icon-uncheck">label</i>
                  <i class="material-icons-two-tone text-secondary pc-icon-check">label</i>
                </div>
                <div class="pc-icon-checkbox">
                  <input class="form-check-input" matTooltip="new release" type="checkbox" />
                  <i class="material-icons-two-tone pc-icon-uncheck">new_releases</i>
                  <i class="material-icons-two-tone text-danger pc-icon-check">new_releases</i>
                </div>
              </div>
            </li>
            <li class="list-inline-item">
              <a class="avatar avatar-s" [matMenuTriggerFor]="menu">
                <i class="ti ti-dots f-18"></i>
              </a>
              <mat-menu #menu="matMenu">
                <button mat-menu-item>Name</button>
                <button mat-menu-item>Date</button>
                <button mat-menu-item>Rating</button>
                <button mat-menu-item>unread</button>
              </mat-menu>
            </li>
          </ul>
        </div>
      </app-card>
      <div class="mail-details">
        <p>Estimado TORRES MENESES, JHONATAN JOEL,</p><p> sirva la presente para saludarlo y a su vez solicitar dar de Alta al <strong> DR. HUAMAN PACHAS, ANGEMAR LIKER</strong> quien a sido designado como Director de la Escuela Profesional de <strong>ADMINISTRACIÓN DE EMPRESAS.</strong></p><p>Agradezco de antemano su atención.</p><p>Saludos.</p>
      </div>
    </div>
}
  