@if (!loading()) {
    <!-- {{ editarDocente() | json }} -->
    <app-card headerClassTemplate="py-10 flex justify-content-between align-item-center w-full">
        <ng-template #headerTitleTemplate>
            <div class="">
              <div>INFORMACIÓN DEL DOCENTE {{ seleccionarDocente().nombreApellido }} </div>
            </div>
              <div class="flex justify-content-end gap-2">
                <ui-button color="primary" icon="ti ti-edit" matTooltip="Editar Docente" (onClick)="modalEditDocente(editDocente, seleccionarDocente())"></ui-button>
                <ui-button color="red" icon="ti ti-trash" matTooltip="Eliminar Docente" (onClick)="eliminarDocenteConfirm(seleccionarDocente())" ></ui-button>
              </div>
          </ng-template>
    
          <div class="flex col-12 gap-2">
            <div class="col-6 gap-2 border-round border-1 border-dashed bg-gray-100 border-gray-400">
                <!-- Tipo y Número de Documento -->
                <div class="flex gap-2 mb-2 justify-content-between">
                    <div class="h-auto bg-blue-200 text-blue-700 font-bold border-round">
                        <span class="m-2">Tipo de Documento:</span>
                    </div>
                    <span class="flex-1 text-overflow-ellipsis overflow-hidden">{{ seleccionarDocente().tipoDeDocumento }}</span>
                </div>
                <div class="flex gap-2 mb-2 justify-content-between">
                    <div class="h-auto bg-blue-200 text-blue-700 font-bold border-round">
                        <span class="m-2">Número de Documento:</span>
                    </div>
                    <span class="flex-1 text-overflow-ellipsis overflow-hidden">{{ seleccionarDocente().numeroDocumento }}</span>
                </div>
                
                <!-- Campos de correo -->
                <div class="flex gap-2 mb-2 justify-content-between">
                    <div class="h-auto bg-blue-200 text-blue-700 font-bold border-round">
                        <span class="m-2">Correo Institucional</span>
                    </div>
                    <span class="flex-1 text-overflow-ellipsis overflow-hidden">{{ seleccionarDocente().correoInstitucional }}</span>
                </div>
                <div class="flex gap-2 mb-2 justify-content-between">
                    <div class="h-auto bg-blue-200 text-blue-700 font-bold border-round">
                        <span class="m-2">Correo Personal</span>
                    </div>
                    <span class="flex-1 text-overflow-ellipsis overflow-hidden">{{ seleccionarDocente().correoPersona }}</span>
                </div>
        
                <div class="flex gap-2 mb-2 justify-content-between">
                    <div class="h-auto bg-blue-200 text-blue-700 font-bold border-round">
                        <span class="m-2">Celular y Fecha de Nacimiento:</span>
                    </div>
                    <span class="flex-1 text-overflow-ellipsis overflow-hidden">
                        {{ seleccionarDocente().numeroCelular }} - {{ seleccionarDocente().fechaNacimiento | date:'MM/dd/yyyy' }}
                    </span>
                </div>
            </div>
        
            <!-- Segundo contenedor con Código Docente y Discapacidad -->
            <div class="col-5 gap-2 border-round border-1 border-dashed bg-gray-100 border-gray-400">
                <div class="flex gap-2 mb-2 justify-content-between">
                    <div class="h-auto bg-red-200 text-red-700 font-bold border-round">
                        <span class="m-2">Código Docente:</span>
                    </div>
                    <span class="flex-1 text-overflow-ellipsis overflow-hidden">{{ seleccionarDocente().codigoInterno }}</span>
                </div>
                <div class="flex gap-2 mb-2 justify-content-between">
                    <div class="h-auto bg-red-200 text-red-700 font-bold border-round">
                        <span class="m-2">Discapacidad:</span>
                    </div>
                    <span class="flex-1 text-overflow-ellipsis overflow-hidden">{{ seleccionarDocente().discapacidad ? 'SI' : 'NO' }}</span>
                </div>
        
                <div class="flex gap-2 mb-2 justify-content-between">
                    <div class="h-auto bg-red-200 text-red-700 font-bold border-round">
                        <span class="m-2">Primer Grado</span>
                    </div>
                    <span class="flex-1 text-overflow-ellipsis overflow-hidden">{{ seleccionarDocente().primerGrado }}</span>
                </div>
                <div class="flex gap-2 mb-2 justify-content-between">
                    <div class="h-auto bg-red-200 text-red-700 font-bold border-round">
                        <span class="m-2">Segundo Grado</span>
                    </div>
                    <span class="flex-1 text-overflow-ellipsis overflow-hidden">{{ seleccionarDocente().segundoGrado }}</span>
                </div>
            </div>
        </div>
        
    </app-card>
}
@else {
    <ui-loading-progress-bar></ui-loading-progress-bar>
}

<ng-template #editDocente>
    <app-docente-add-edit></app-docente-add-edit>
</ng-template>
