<div class="row">
    <div class="col-sm-12">
        <div class="email-page" [ngClass]="{ 'mini-list': mailListHight }">

            <mat-drawer-container class="email-tabs-email">
                <!-- NAVEGACION START -->
                <mat-drawer #mail class="email-filter" [mode]="modeValue" [opened]="status">
                    <app-card [showHeader]="false" [padding]="0">
                      <div class="p-20">
                        <div class="grid">
                          <button mat-flat-button color="primary" (click)="composeMail()">
                            <div class="flex align-item-center"> <i class="ti ti-circle-plus f-18 m-r-10"></i> Mensaje Nuevo </div>
                          </button>
                        </div>
                      </div>
                      <img class="border-circle  fadeinleft animation-duration-500 w-5rem m-auto block mb-3" src="./assets/images/mensajeria/icons-gif/correo-electronico-red.gif">
                      <mat-divider></mat-divider>
                      <ng-scrollbar style="height: calc(100vh - 318px)" visibility="hover" class="mt-2">
                        <div class=""> <!-- p-x-10 -->
                          <mat-tab-group (selectedIndexChange)="tabChanged($event)" class="email-column-item">
                            <mat-tab>
                              <ng-template mat-tab-label>
                                <div class="flex align-item-center justify-content-between f-12">
                                  <i class="ti ti-inbox"></i> Entrada
                                </div>
                                <div class="avatar avatar-xs bg-primary-300 text-gray-900">{{ mensajesRecibidosTotal() }}</div>
                              </ng-template>
                            </mat-tab>
                            <mat-tab>
                              <ng-template mat-tab-label>
                                <div class="flex align-item-center justify-content-between f-12">
                                  <i class="ti ti-send"></i> Enviados
                                </div>
                                <div class="avatar avatar-xs">{{ mensajesEnviadosTotal() }}</div>
                              </ng-template>
                            </mat-tab>
                            <mat-tab>
                              <ng-template mat-tab-label>
                                <div class="flex align-item-center justify-content-between f-12">
                                  <i class="ti ti-file-text"></i> Archivados
                                </div>
                                <div class="avatar avatar-xs">{{ mensajesArchivadosTotal() }}</div>
                              </ng-template>
                            </mat-tab>
                  
                          </mat-tab-group>
                        </div>
                      </ng-scrollbar>
                    </app-card>
                </mat-drawer>
                <!-- NAVEGACION END -->
                
                <!-- CONTAINER START -->
                <mat-drawer-content class="p-l-10"> <!-- p-l-25 -->
                    <!-- TOOLBAR START-->
                    <div class="mail-content-header">
                      <ul class="list-inline ml-2">
                        <li class="list-inline-item">
                          <a class="avatar avatar-s bg-white text-muted" (click)="mail.toggle(); toggle()">
                            <i class="ti ti-menu-2 f-18"></i>
                          </a>
                        </li>

                      </ul>
                      <ul class="list-inline mx-2">
                        <li class="list-inline-item w-13rem bg-white p-2 border-round border-1 border-gray-300">
                            <mat-select class="w-full min-w-10" value="All">
                                <mat-option value="All">Todos</mat-option>
                                <mat-option value="Alta">Alta Director de Escuela</mat-option>
                                <mat-option value="Validar">Validar Plan de Estudios</mat-option>
                            </mat-select>
                        </li>
                        <li class="list-inline-item">
                          <a class="avatar avatar-s bg-white text-muted" (click)="onClick()">
                            <i class="ti ti-arrows-vertical f-18"></i>
                          </a>
                        </li>
                    </ul>
                      <ul class="list-inline search-bar flex align-item-center">
                        <li class="list-inline-item bg-white">
                          <mat-form-field appearance="outline" class="small">
                            <input matInput placeholder="Buscar..." autocomplete="off" />
                            <mat-icon matSuffix>search</mat-icon>
                          </mat-form-field>
                        </li>
                        <!-- <li class="list-inline-item">
                          <mat-paginator [length]="100" [pageSizeOptions]="[10, 50, 100]" aria-label="Select page"> </mat-paginator>
                        </li> -->
                      </ul>
                    </div>
                    <!-- TOOLBAR END -->

                    <!-- @if (selectedTabIndex === 0) {

                        <mensajeria-content class="flex" bandeja="recibidos"></mensajeria-content>
                        
                    } -->

                    @switch ( selectedTabIndex ) {
                      @case ( 0 ) { <mensajeria-content class="flex" tipoBandeja="Recibidos"></mensajeria-content> }
                      @case ( 1 ) { <mensajeria-content class="flex" tipoBandeja="Enviados"></mensajeria-content> }
                      @case ( 2 ) { <mensajeria-content class="flex" tipoBandeja="Archivados"></mensajeria-content> }
                    }
                  </mat-drawer-content>
                <!-- CONTAINER END -->
            </mat-drawer-container>
        </div>
    </div>
</div>
<!-- <app-email></app-email> -->