@if (loading) {
<ui-loading-progress-bar></ui-loading-progress-bar>
}

@else {
<p-table #dt1 [value]="listUsuario()" size="small"
    [globalFilterFields]="['nombres', 'apePaterno', 'apMaterno', 'correo','nDocumento', 'accion']"
    selectionMode="single" dataKey="id" [tableStyle]="{ 'min-width': '50rem' }" [rows]="20" [paginator]="true"
    [rowsPerPageOptions]="[20,100,1000]"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros">

    <ng-template #caption>
        <div class="flex justify-between items-center w-full gap-4">

            <p-iconfield iconPosition="left" class="w-full">
                <p-inputicon>
                    <i class="pi pi-search"></i>
                </p-inputicon>

                <input class="w-full" pInputText type="text" placeholder="Buscar Usuario"
                    (input)="dt1.filterGlobal($any($event.target).value, 'contains')" />
            </p-iconfield>

            <div class="flex items-center gap-2 shrink-0">
                <ui-button icon="pi pi-plus" (click)="visibleAdd = true; usuarioSelect(usuarioDefault)" label="AGREGAR USUARIO">
                </ui-button>
            </div>

        </div>
    </ng-template>

    <ng-template #header>
        <tr>
            <th pSortableColumn="nombres" style="width:20%">NOMBRES<p-sortIcon field="nombres" /></th>
            <th pSortableColumn="apePaterno" style="width:15%"> APELLIDO PATERNO <p-sortIcon field="apPaterno" /></th>
            <th pSortableColumn="apeMaterno" style="width:15%"> APELLIDO MATERNO <p-sortIcon field="apeMaterno" /></th>
            <th pSortableColumn="correo" style="width:5%">CORREO<p-sortIcon field="correo" /></th>
            <th pSortableColumn="nDocumento" style="width:5%"> DOCUMENTO<p-sortIcon field="nDocumento" /></th>
            <th pSortableColumn="accion" style="width:2%">ACCIONES<p-sortIcon field="accion" /></th>
        </tr>
    </ng-template>

    <ng-template #body let-usuario>
        <tr [pSelectableRow]="usuario">
            <td>
                <span class="ml-1 align-middle">{{ usuario.nombres }}</span>
            </td>
            <td>
                <div class="flex items-center gap-2">
                    <span class="ml-1 align-middle">{{ usuario.apePaterno }}</span>
                </div>
            </td>
            <td>
                <div class="flex items-center gap-2">
                    <span class="ml-1 align-middle">{{ usuario.apMaterno }}</span>
                </div>
            </td>
            <td>
                <div class="flex items-center gap-2">
                    <span class="ml-1 align-middle">{{ usuario.correo }}</span>
                </div>
            </td>
            <td>
                <div class="flex items-center gap-2">
                    <span class="ml-1 align-middle">{{ usuario.nDocumento }}</span>
                </div>
            </td>
            <td>
                <div class="flex items-center gap-2">
                    @if (this.permisoUsuario.ACTUALIZAR) {
                        <ui-icon-button icon="pi pi-pencil" tooltip="Editar"></ui-icon-button>
                    }
                    @if (permisoUsuario.ELIMINAR) {
                        <ui-icon-button icon="pi pi-trash" color="danger" pTooltip="Eliminar" (onClick)="eliminarConfirm(usuario)"></ui-icon-button>
                    }

                    <ui-icon-button icon="pi pi-user-plus" color="success" tooltip="Permisos" (click)="visiblePermisos = true; usuarioSelect(usuario)"></ui-icon-button>

                    <!-- <button pButton type="button" icon="pi pi-file-edit"
                        (click)="visiblePermisos = true; usuarioSelect(usuario)"
                        class="p-button-rounded p-button-info p-button-text" pTooltip="Permisos"></button> -->

                </div>
        </tr>
    </ng-template>

    <ng-template emptymessage>
        <tr>
            <td colspan="4">NO SE ENCUENTRAN PROVEEDORES DISPONIBLES</td>
        </tr>
    </ng-template>
</p-table>
@if (visiblePermisos) {
<app-list-permisos [(visible)]="visiblePermisos"></app-list-permisos>
}
@if (visibleAdd) {
<app-add-edit-usuario [permisos]="permisoUsuario" [(visible)]="visibleAdd"></app-add-edit-usuario>
}
}