<mat-dialog-content>
    
    
    <categoria-add></categoria-add>
    <!-- @if ( showFormAdd() ) {
        <div class="mb-2">
        </div>
    } @else {

        <div class="flex justify-content-end w-30rem pb-2 -mt-3">
            <ui-button color="primary" (onClick)="showFormAdd.set( true )"> Nuevo </ui-button>
        </div>
        
    } -->
    <!-- <mat-divider class="py-2"></mat-divider> -->
    <!-- @for (categoria of categorias(); track categoria; let i = $index) {

        <div class="price-check border-1 border-gray-200 px-2 py-1">
            <div class="flex align-item-center popular m-b-0 f-12">
                {{ categoria.nombre }}
                <ui-button-icon icon="fi fi-tr-pen-clip"></ui-button-icon>
            </div>
   
        </div>   

    } -->


</mat-dialog-content>
<mat-dialog-actions align="end">

    <ui-button label="Cerrar" mat-dialog-close="cancelar" class="m-r-10"></ui-button>
    <ui-button color="primary" (onClick)="showFormAdd.set( true )">Guardar</ui-button>
</mat-dialog-actions>